/* app css stylesheet */

html {
  background: #dee4e9 url(../img/bg_tile.png?1) 0 0 repeat;
  /*background-size: 300px 468px;*/
}
body {
  color: #000;
  background: none;
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
  /*-webkit-font-smoothing: antialiased;*/
}
.font-light {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Light", Helvetica, Arial , Verdana, sans-serif;
  font-weight: 300;
}
body.non_osx,
.non_osx .font-light {
  font: 13px/18px Tahoma, sans-serif, Arial, Helvetica;
  font-weight: normal;
}
h1, h2, h3, h4, h5 {
  color: #222;
}
.non_osx h4 {
  font-size: 17px;
}

a {
  color: #3a6d99;
}
a:hover {
  color: #3a6d99;
}
a:hover {
  cursor: pointer;
}
.form-control {
  color: #000;
  border: 1px solid #d9dbde;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control:-moz-placeholder {
  color: #9aa2ab;
}
.form-control::-moz-placeholder {
  color: #9aa2ab;
}
.form-control:-ms-input-placeholder {
  color: #9aa2ab;
}
.form-control::-webkit-input-placeholder {
  color: #9aa2ab;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.btn-tg {
  color: #ffffff;
  background-color: #6AC065;
  border-color: #6AC065;
}

.btn-tg:hover,
.btn-tg:focus,
.btn-tg:active,
.btn-tg.active,
.open .dropdown-toggle.btn-tg {
  color: #ffffff;
  background-color: #61b75b;
  border-color: #61b75b;
}

.btn-tg:active,
.btn-tg.active,
.open .dropdown-toggle.btn-tg {
  background: #5aaf54;
  background-image: none;
}

.btn-tg.disabled,
.btn-tg[disabled],
fieldset[disabled] .btn-tg,
.btn-tg.disabled:hover,
.btn-tg[disabled]:hover,
fieldset[disabled] .btn-tg:hover,
.btn-tg.disabled:focus,
.btn-tg[disabled]:focus,
fieldset[disabled] .btn-tg:focus,
.btn-tg.disabled:active,
.btn-tg[disabled]:active,
fieldset[disabled] .btn-tg:active,
.btn-tg.disabled.active,
.btn-tg[disabled].active,
fieldset[disabled] .btn-tg.active {
  color: #DDD;
  background-color: #999;
  border-color: #999;
}

.tg_page_head .navbar {
  min-height: 44px;
}
.tg_page_head .navbar-toggle {
  margin-top: 5px;
  margin-bottom: 5px;
}
.tg_page_head .container {
  display: block;
  width: auto;
}
.tg_page_head .navbar-inverse {
   /*-webkit-app-region: drag;*/
  background: #497495;
  border: 0;

  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.11);
  -moz-box-shadow:    0px 1px 1px rgba(0, 0, 0, 0.11);
  box-shadow:         0px 1px 1px rgba(0, 0, 0, 0.11);

  margin: 0;
}
.tg_page_head .navbar > .container .navbar-brand {
  padding: 9px 15px;
  opacity: 0.9;
  margin-left: 0;
  margin-right: 20px;
  -webkit-transition: opacity swing .9s;
  display: block;
  line-height: 0;
  height: auto;
}
.navbar-offline {
  max-width: 250px;
  margin: 0 auto;
  float: none;
}
.navbar-offline-text {
  padding: 12px 15px;
  /*color: #FFF;*/
  color: #b9cfe3;
  font-size: 13px;
  display: block;
  line-height: 20px;
}


.tg_head_logo {
  background: url(../img/Tlogo_2x.png) 0 0 no-repeat;
  background-size: 26px 26px;
  display: inline-block;
  width: 26px;
  height: 26px;
  vertical-align: text-top;
}
.is_1x .tg_head_logo {
  background-image: url(../img/TLogo_1x.png);
}
.tg_head_logo_text {
  background: url(../img/TLogo2_2x.png) 0 0 no-repeat;
  background-size: 97px 15px;
  display: inline-block;
  width: 97px;
  height: 15px;
  vertical-align: text-top;
  margin-top: 7px;
  margin-left: 10px;
}
.is_1x .tg_head_logo_text {
  background-image: url(../img/TLogo2_1x.png);
}


.tg_page_head .navbar > .container .navbar-brand:hover {
  opacity: 1;
}

.tg_page_head .navbar-inverse .navbar-nav > li > a {
  padding-top: 12px;
  padding-bottom: 12px;
  color: #b9cfe3;
  font-size: 13px;
}
.tg_page_head .navbar-inverse .navbar-nav > li > a:hover {
  color: #FFF;
}
.tg_page_head .navbar-inverse .navbar-toggle {
  border-color: #497495;
  outline: 0;
}
.tg_page_head .navbar-inverse .navbar-collapse,
.tg_page_head .navbar-inverse .navbar-form {
  border-color: #497495;
}

.tg_page_head .navbar-inverse .navbar-toggle:hover,
.tg_page_head .navbar-inverse .navbar-toggle:active,
.tg_page_head .navbar-inverse .navbar-toggle:focus {
  background-color: rgba(255,255,255,0.1);
}

.tg_page_head .navbar-quick-nav {
  margin: 0;
}
.tg_page_head .navbar-quick-nav li {
  float: left;
}
.tg_page_head .navbar-quick-nav a {
  padding-top: 15px;
  padding-bottom: 15px;
}
.icon-back {
  display: inline-block;
  width: 10px;
  height: 18px;
  vertical-align: text-top;

  background: url(../img/icons/IconsetW.png?1) -15px -419px no-repeat;
  background-size: 42px 560px;
  opacity: 0.6;
}
.is_1x .icon-back {
  background-image: url(../img/icons/IconsetW_1x.png?2);
}
.tg_page_head .navbar-quick-nav a:hover .icon-back {
  opacity: 1;
}


.tg_progress {
  height: 12px;
  margin: 0;
  padding: 0;
  background: rgba(255,255,255, 0.4);
  border: 5px solid rgba(0,0,0, 0.5);
  border-radius: 3px;
}
.tg_progress .progress-bar {
  height: 2px;
  line-height: 2px;
  background: rgba(255,255,255, 0.9);
  border-radius: 2px;
  overflow: hidden;
}
.modal {
  overflow-y: auto;
}
.modal-content {
  border: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.modal_close_wrap {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}
.modal_close {
  background: url(../img/icons/CloseHover_2x.png) 0 0 no-repeat;
  background-size: 33px 33px;
  width: 33px;
  height: 33px;
  float: right;
  margin: 60px 30px 0 0;
  opacity: 0.5;
  pointer-events: none;

  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
}
.modal_close_wrap:hover .modal_close {
  opacity: 1;
}

.text-invisible {
  visibility: hidden;
}

.modal-header {
  padding: 12px 0 4px 3px;
  border-bottom: 2px solid #E1E1E1;
  margin: 0 18px;
}
.modal-title {
  color: #222;
  font-weight: bold;
  font-size: 17px;
  line-height: 1.4;
}

.modal-close-link,
.modal-save-link {
  font-size: 12px;
  line-height: 1.4;
  float: right;
  padding: 0 2px 0;
  margin: 6px 2px 0 0;
}
.modal-close-link:hover,
.modal-save-link:hover {
  text-decoration: none;
}
.modal-save-link {
  margin-right: 15px;
}



.img_fullsize_with_progress_wrap {
  position: relative;
  /*margin: 0 auto 20px;*/
  margin: 0 auto;
}
.img_fullsize_progress_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}
.img_fullsize_progress_wrap {
  background: rgba(0,0,0, .1);
  position: relative;
}
.img_fullsize_progress {
  position: absolute;
  bottom: 15px;
  left: 50%;
  width: 190px;
  margin-left: -95px;
}


/* Welcome */

.welcome_logo {
  background: url(../img/logo_dogogram.png) 0 0 no-repeat;
  background-size: 111px 112px;
  display: block;
  width: 112px;
  height: 112px;
  margin: 100px auto 0;
}
.welcome_box_wrap {
  max-width: 310px;
  padding: 25px;
  background: #FFF;
  margin: 30px auto 0;
  border-radius: 1px;
  overflow: hidden;

  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow:         0px 1px 2px rgba(0, 0, 0, 0.1);
}
.welcome_text {
  color: #999;
  text-align: center;
  margin-bottom: 25px;
  font-size: 13px;
}


/* Login page */
.login_form_wrap {
  max-width: 310px;
  padding: 25px;
  background: #FFF;
  margin: 200px auto 0;
  border-radius: 1px;
  overflow: hidden;

  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow:         0px 1px 2px rgba(0, 0, 0, 0.1);
}
.login_form_head {
  color: #222222;
  margin-top: 0;
  text-align: center;
}
.login_form_lead {
  color: #959595;
  text-align: center;
  margin: 15px 0 30px;
  font-size: 13px;
}


/* IM page start */



.im_page_wrap {
  background: #FFF;
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;

  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow:         0px 1px 2px rgba(0, 0, 0, 0.1);

  border-radius: 0 0 3px 3px;
  overflow: hidden;
}


.im_page_footer {
  font-size: 11px;
  text-align: center;
  color: #9cacb9;
  line-height: 40px;
}
.im_page_footer_brand {
  color: #9cacb9;
  font-weight: bold;
}
.im_page_footer_brand:hover,
.im_page_footer_brand:active {
  color: #8499aa;
  text-decoration: none;
}

.im_dialogs_col_wrap {
  float: left;
  width: 31%;
  border-right: 2px solid #E9EBED;
  padding-bottom: 10px;
}

.im_history_col_wrap {
  float: left;
  width: 69%;
}


/* Dialogs list */
.im_dialogs_col {
  margin-right: -7px;
}
.im_dialogs_col .nano > .pane {
  background : rgba(0,0,0,.0);
  width      : 12px;
  right: 0px;
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 0;
  -webkit-border-radius : 0;
  border-radius         : 0;
}
.im_dialogs_col .nano > .pane > .slider {
  background: #A5B1B9;
  margin: 0 5px;
  -moz-border-radius    : 0;
  -webkit-border-radius : 0;
  border-radius         : 0;
}

.im_dialogs_search {
  padding: 14px 12px;
  position: relative;
}
.im_dialogs_search_field {
  font-size: 12px;
  line-height: normal;
  background: #F2F2F2 url(../img/icons/IconsetW.png?1) -6px -205px no-repeat;
  background-size: 42px 560px;
  border: 1px solid #F2F2F2;
  border-radius: 3px;
  padding: 6px 20px 6px 30px;
  margin-bottom: 0;
  margin: 0;
}
.is_1x .im_dialogs_search_field {
  background-image: url(../img/icons/IconsetW_1x.png?2);
}
.im_dialogs_search_field:focus,
.im_dialogs_search_field:active {
  background-color: #FFF;
}

.im_dialogs_search_clear {
  position: absolute;
  right: 19px;
  margin-top: -23px;
  color: #999;
  width: 13px;
  height: 13px;
  vertical-align: text-top;
  background: url(../img/icons/IconsetW.png?1) -15px -192px no-repeat;
  background-size: 42px 560px;
  opacity: 0.6;
}
.is_1x .im_dialogs_search_clear {
  background-image: url(../img/icons/IconsetW_1x.png?2);
}
.im_dialogs_search_clear:hover {
  opacity: 1;
}



.im_dialogs_wrap {
}
.im_dialogs_scrollable_wrap {
  padding: 0 19px 0 12px;
  outline: none ! important;
}
.im_dialogs_scrollable_wrap .im_dialog_wrap {
  margin-top: 0;
}
.im_dialogs_scrollable_wrap a.im_dialog {
  clear: both;
  overflow: hidden;
  color: #000;
  padding: 8px 9px;
  border-radius: 0;
}
.im_dialogs_scrollable_wrap a.im_dialog:hover {
  border-radius: 2px;
  background: #f2f6fa;
}
.im_dialogs_scrollable_wrap .active a.im_dialog {
  border-radius: 2px;
  background-color: #6490b1;
}
.im_dialogs_scrollable_wrap .active a.im_dialog:hover {
  background-color: #6490b1;
}

.im_dialogs_scrollable_wrap a.im_dialog .icon,
.im_dialogs_scrollable_wrap a.im_dialog .glyphicon {
  display: none;
}

.im_dialog_message_wrap {
  overflow: hidden;
  word-wrap: break-word;
}
.im_dialog_chat_from_wrap,
.im_dialog_message_media,
.im_dialog_message_service {
  color: #3a6d99;
}
.im_dialog_message_text {
  color: #808080;
}
a.im_dialog:hover .im_dialog_message_text {
  color: #698192;
}
.active a.im_dialog .im_dialog_chat_from_wrap,
.active a.im_dialog .im_dialog_message_media,
.active a.im_dialog .im_dialog_message_service,
.active a.im_dialog .im_dialog_message_text {
  color: #FFF;
}
.im_dialog_photo {
  width: 40px;
  height: 40px;
  border-radius: 2px;
  overflow: hidden;
  margin: 0 10px 0 0;

}
.im_dialog_peer {
  color: #222;
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 2px;
}
.active .im_dialog_peer {
  color: #FFF;
}

.im_dialog_badge {
  background: #75BB72;
  border-radius: 2px;
  font-size: 10px;
  padding: 3px 4px;
  margin-top: 4px;
}
.active .im_dialog_badge {
  color: #428bca;
  background-color: #fff;
}
.im_dialogs_modal_col .im_dialog_badge {
  display: none;
}

.im_dialog_unread {
  background: #c1d6e5;
  display: inline-block;
  float: right;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0 0;
}

a.im_dialog:hover .im_dialog_unread {
  background: #a3c0d4;
}
.active .im_dialog_unread {
  background-color: #a4c4dd;
}


.im_dialog_date {
  color: #b3b3b3;
  font-size: 0.85em;
}
a.im_dialog:hover .im_dialog_date {
  color: #91a6ba;
}
.active .im_dialog_date,
.active a.im_dialog:hover .im_dialog_date {
  color: #b8d1e4;
}

.im_dialog_service {
  font-style: italic;
  color: #999;
}
.im_dialog_message,
.im_dialog_peer {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.icon-group {
  display: inline-block;
  width: 18px;
  height: 12px;
  margin-top: 3px;
  line-height: 14px;
  vertical-align: text-top;
  background: url(../img/icons/DialogListGroupChatIcon@2x.png) 0 0 no-repeat;
  background-size: 18px 12px;
}
.active .icon-group {
  background-image: url(../img/icons/DialogListGroupChatIcon_Highlighted@2x.png);
}

/* IM history */
.im_history_col {
}

.im_history_col .nano > .pane,
.contacts_modal_col .nano > .pane,
.im_dialogs_modal_col .nano > .pane {
  background : rgba(3,36,64,0.08);
  width      : 9px;
  right: 0;
  top: 0;
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 2px;
  -webkit-border-radius : 2px;
  border-radius         : 2px;
}

.im_history_col .nano > .pane {
  top: 10px;
  right: 8px;
}
.im_history_col .nano > .pane > .slider,
.contacts_modal_col .nano > .pane > .slider,
.im_dialogs_modal_col .nano > .pane > .slider {
  background : rgba(3,46,79,0.22);
  margin: 0;
  -moz-border-radius    : 2px;
  -webkit-border-radius : 2px;
  border-radius         : 2px;
}

.im_history_panel_wrap {
  margin: 0 23px 0 15px;
  cursor: pointer;
  position: relative;
  -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow:    0px 2px 0px rgba(0, 0, 0, 0.12);
  box-shadow:         0px 2px 0px rgba(0, 0, 0, 0.12);

  position: relative;
  z-index: 2;
  min-height: 44px;
}
.im_history_panel {
  padding: 10px 4px 0;
}
.im_history_panel_title h4 {
  font-size: 17px;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 8px 0 6px;
}
.im_history_panel_title h4 small {
  color: #999;
  font-size: 13px;
  margin-left: 5px;
}
.im_history_panel_info_link,
.im_history_panel_edit_link,
.im_history_panel_return_link,
.im_history_panel_media_dropdown .dropdown-toggle {
  font-size: 13px;
  font-weight: normal;
  padding-top: 5px;
  line-height: 1;
}
.im_history_panel_media_dropdown {
  padding-top: 2px;
}
.im_history_panel_edit_link,
.im_history_panel_return_link,
.im_history_panel_media_dropdown {
  font-size: 13px;
  margin-right: 20px;
}
.im_history_panel_return_count {
  margin-left: 5px;
}

.im_history_panel_media_dropdown .dropdown-menu > li > a {
  font-size: 13px;
}

.icon-caret {
  width: 8px;
  height: 4px;

  display: inline-block;
  vertical-align: text-top;
  margin-top: 7px;
  margin-left: 6px;

  background: url(../img/icons/IconsetW.png?1) -17px -444px no-repeat;
  background-size: 42px 560px;
}
.is_1x .icon-caret {
  background-image: url(../img/icons/IconsetW_1x.png?2);
}

.im_history_panel_media_dropdown .dropdown-menu {
  border-radius: 2px;
  right: auto;
  left: -15px;
  margin-top: 13px;
  padding: 0;

  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.175);
}
.dropdown-menu > li > a {
  padding: 3px 14px;
}


.im_history_wrap {
  overflow: hidden;
  /*overflow-y: scroll;*/
}
.im_history_scrollable_wrap {
  outline: none ! important;
  -webkit-user-select: text;
}

.im_history_to_bottom {
  position: relative;
}
.im_history_to_bottom .im_history_scrollable {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.im_history {
  /*padding: 20px 0 0 3px;*/
  padding: 20px 0 0 0;
  /*max-width: 500px;*/
  /*margin: 0 auto;*/
  position: relative;
}

.im_history_typing_wrap {
  margin-top: 13px;
  height: 18px;
  line-height: 18px;
  width: 100%;
  margin-bottom: 13px;
  overflow: hidden;
  -webkit-user-select: none;
}
.im_history_typing {
  font-size: 11px;
  color: #999;
  max-width: 526px;
  margin: 0 auto;
  padding: 0 77px 0 77px;
}

/*.im_history_typing {
  -webkit-transition:all swing .2s;
  -moz-transition:all swing .2s;
  -ms-transition:all swing .2s;
  -o-transition:all swing .2s;
  transition:all swing .2s;
}
.im_history_typing.ng-enter {
  opacity: 0;
}
.im_history_typing.ng-enter.ng-enter-active {
  opacity: 1;
}
.im_history_typing.ng-leave {
  opacity: 1;
}
.im_history_typing.ng-leave.ng-leave-active {
  opacity: 0;
}


.im_history_message_wrap {
  -webkit-transition:all swing .2s;
  -moz-transition:all swing .2s;
  -ms-transition:all swing .2s;
  -o-transition:all swing .2s;
  transition:all swing .2s;
}
.im_history_message_wrap.ng-enter {
  position: relative;
  bottom: -100px;
  overflow: hidden;
  opacity: 0;
}
.im_history_message_wrap.ng-enter.ng-enter-active {
  bottom: 0;
  opacity: 1;
}
.im_history_message_wrap.ng-leave {
  opacity: 1;
}
.im_history_message_wrap.ng-leave.ng-leave-active {
  opacity: 0;
}*/



.im_message_author {
  color: #3a6d99;
  font-weight: bold;
}
.non_osx .im_message_author {
  font-size: 12px;
}

.im_message_from_photo,
.im_message_contact_photo {
  width: 34px;
  height: 34px;

  border-radius: 2px;
  overflow: hidden;
}
a.im_message_from_photo,
a.im_message_contact_photo {
  margin: 1px 12px 0 0;
}
.im_message_contact_name {
  color: #3C6E97;
  font-weight: bold;
}
.non_osx .im_message_contact_name {
  font-size: 12px;
}
a.im_message_photo_thumb,
a.im_message_video_thumb {
  display: block;
  margin-top: 5px;
  overflow: hidden;
  border-radius: 2px;
}
img.im_message_photo_thumb,
img.im_message_video_thumb {
  overflow: hidden;
  border-radius: 2px;
}

img.im_message_video_thumb {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
}

div.im_message_video_thumb {
  position: relative;
}
.im_message_video_duration_wrap {
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  position: absolute;
  margin-top: -15px;
  height: 15px;
  padding: 0 3px;
  font-size: 11px;
  line-height: 15px;

  border-radius: 0 0 2px 2px;
  overflow: hidden;
}
.im_message_video_duration {

}

.im_message_geopoint {
  border-radius: 2px;
  margin-top: 5px;
  overflow: hidden;
  display: block;
  position: relative;
  width: 200px;
  height: 100px;
}
.icon-geo-point {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -10px;
  width: 15px;
  height: 19px;

  background: url(../img/icons/IconsetW.png?1) -14px -389px no-repeat;
  background-size: 42px 560px;
}
.is_1x .icon-geo-point {
  background-image: url(../img/icons/IconsetW_1x.png?2);
}



.im_message_document,
.im_message_audio,
.im_message_upload_file {
  margin-top: 3px;
  border-radius: 3px;
  display: inline-block;
  /*line-height: 0;*/

  width: 340px;
}
.icon-document,
.icon-photo,
.icon-video {
  display: block;
  float: left;
  width: 38px;
  height: 38px;
  vertical-align: text-top;

  background: #F2F2F2 url(../img/icons/IconsetW.png?1) -2px -229px no-repeat;
  background-size: 42px 560px;
  border-radius: 3px;
  margin-right: 10px;
}
.is_1x .icon-document,
.is_1x .icon-photo,
.is_1x .icon-video {
  background-image: url(../img/icons/IconsetW_1x.png?2);
}

.im_message_document_info {
  float: left;
}


.im_message_document_thumb {
  border-radius: 2px;
  overflow: hidden;
  max-width: 100px;
  max-height: 100px;
}
.im_message_document_name_wrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 290px;
  padding: 0 0 1px;
}

.im_message_document_name {
  color: #222;
  display: inline-block;
  font-weight: bold;
  max-width: 200px;
  overflow: hidden;
  vertical-align: text-top;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.im_message_document_size {
  color: #999;
  padding-left: 2px;
}

.icon-audio {
  display: block;
  float: left;
  width: 38px;
  height: 38px;
  vertical-align: text-top;

  background: #F2F2F2 url(../img/icons/IconsetW.png?1) -2px -277px no-repeat;
  background-size: 42px 560px;
  border-radius: 3px;
  margin-right: 10px;
}
.is_1x .icon-audio {
  background-image: url(../img/icons/IconsetW_1x.png?2);
}

.im_message_audio_info {
  float: left;
  width: 292px;
}
.im_message_audio_name_wrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 290px;
  padding: 0 0 1px;
}
.im_message_audio_name {
  color: #222;
  display: inline-block;
  font-weight: bold;
  max-width: 200px;
  overflow: hidden;
  vertical-align: text-top;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.im_message_audio_duration,
.im_message_audio_size {
  color: #999;
  padding-left: 2px;
}
.im_message_audio_info audio {
  height: 38px;
  line-height: 38px;
}

.im_message_upload_progress_wrap,
.im_message_download_progress_wrap {
  margin-top: 5px;
  width: 290px;
}

.tg_up_progress,
.tg_down_progress {
  height: 5px;
  margin: 0;
  padding: 0;
  background: #F2F2F2;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.tg_up_progress .progress-bar,
.tg_down_progress .progress-bar {
  height: 5px;
  line-height: 5px;
  background: #6B9ABD;
  border-radius: 0;
  overflow: hidden;
  -webkit-box-shadow: none;
  box-shadow: none;
}



.im_service_message_wrap {
  text-align: center;
}
.im_service_message {
  display: inline-block;
  min-width: 10px;
  padding: 4px 7px;
  line-height: 1.4;
  color: #999;
  text-align: center;
  border-radius: 10px;
  margin: 5px 0;
}

.im_service_message_photo_thumb {
  display: block;
  margin: 0 auto;
}



.im_content_message_wrap {
  /*margin: 10px 0px 5px 16px;*/
  margin: 8px 0px 8px 16px
}
.icon-message-status {
  background: #43A4DB;
  border: 1px solid #FFF;
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 7px;
  overflow: hidden;
  position: absolute;
  margin-left: -27px;
  margin-top: 14px;
  opacity: 0;
}
.icon-message-status-unread {
  opacity: 1.0;
}
.icon-message-status-pending {
  opacity: 0.5;
}
.icon-message-status-error {
  background: #da564d;
  opacity: 0.85;
}
.icon-message-status-error:hover {
  opacity: 1;
}

.icon-message-status-tick {
  /*display: inline-block;*/
  display: none;
  width: 16px;
  height: 10px;
  background: url(../img/icons/Checks2_2x.png?1) 0 0 no-repeat;
  background-size: 16px 10px;
  top: 2px;
  position: relative;
}
.icon-message-status-tick.message-status-unread-tick {
  /*width: 13px;*/
  background: url(../img/icons/Checks1_2x.png?1) 0 0 no-repeat;
  background-size: 16px 10px;
}
.im_message_date {
  color: #adadad;
  font-size: 0.85em;
  padding-bottom: 20px;
}
div.im_message_author,
div.im_message_body {
  display: block;
  overflow: hidden;
}

div.im_message_fwd_header {
  color: #808080;
}

.im_message_text {
  word-wrap: break-word;
}

span.emoji {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 18px;
  width: 18px;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

/* widths and heights calculated according to spritesheet dimensions and icon size */
.emoji-spritesheet-0 {
  background-size: 486px 126px;
  background-image: url('../img/emojisprite_0.png');
}
.emoji-spritesheet-1 {
  background-size: 522px 72px;
  background-image: url('../img/emojisprite_1.png');
}
.emoji-spritesheet-2 {
  background-size: 594px 126px;
  background-image: url('../img/emojisprite_2.png');
}
.emoji-spritesheet-3 {
  background-size: 612px 54px;
  background-image: url('../img/emojisprite_3.png');
}
.emoji-spritesheet-4 {
  background-size: 612px 108px;
  background-image: url('../img/emojisprite_4.png');
}

.im_history_not_selected {
  text-align: center;
  color: #999;
  font-size: 1.5em;
  padding: 200px 50px 200px;
}

.im_send_panel_wrap {
  max-width: 526px;
  margin: 0 auto;
  padding: 10px 15px 22px 15px;
}
.im_send_form_wrap {
  position: relative;
}
.im_send_form {
  max-width: 389px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 62px;
  right: 62px;
}
.im_submit {
  padding: 5px 12px;
  font-size: 13px;
  line-height: 17px;
  min-width: 60px;
}

.im_send_dropbox_wrap {
  background: #FFF;
  display: none;
  padding: 15px 10px;
  margin: 1px;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
  color: #999;
  position: absolute;
}
textarea.im_message_field {
  font-size: 12px;
  margin-bottom: 10px;
  padding: 6px;
  min-height: 50px;
  height: 50px;
  resize: none;
}
.im_attach {
  cursor: pointer;
  display: block;
  overflow: hidden;
  position: relative;
  padding: 0 2px;

  width: 23px;
  height: 24px;
  margin-top: 4px;
  margin-left: 20px;
}

.icon-paperclip {
  display: inline-block;
  width: 19px;
  height: 23px;
  vertical-align: text-top;
  background: url(../img/icons/IconsetW.png?1) -12px -68px no-repeat;
  background-size: 42px 560px;
  opacity: 0.8;
}
.is_1x .icon-paperclip {
  background-image: url(../img/icons/IconsetW_1x.png?2);
}
.im_attach:hover .icon-paperclip {
  opacity: 1;
}
.im_attach:active .icon-paperclip {
  background-position: -12px -100px;
  opacity: 1;
}

.im_emoji_btn {
  cursor: pointer;
  padding: 0;

  width: 23px;
  height: 23px;
  margin-top: 4px;
}
.icon-emoji {
  display: inline-block;
  width: 23px;
  height: 23px;
  vertical-align: text-top;
  background: url(../img/icons/IconsetW.png?1) -10px -4px no-repeat;
  background-size: 42px 560px;
  opacity: 0.8;
}
.is_1x .icon-emoji {
  background-image: url(../img/icons/IconsetW_1x.png?2);
}
.im_emoji_btn:hover .icon-emoji {
  opacity: 1;
}
.im_emoji_btn:active .icon-emoji,
.im_emoji_btn.on .icon-emoji {
  background-position: -10px -36px;
  opacity: 1;
}

.im_attach_input,
.im_media_attach_input {
  cursor: pointer;
  font-size: 72px !important;
  /*visibility: hidden;*/
  opacity: 0.01;
  position: absolute;
  z-index: 100;
  margin: 0;
  padding: 0;

  right: 0;
}


.im_media_attach {
  cursor: pointer;
  display: block;
  overflow: hidden;
  position: relative;
  padding: 0;

  width: 24px;
  height: 22px;
  margin-top: 5px;
  margin-left: 20px;
}


.icon-camera {
  display: inline-block;
  width: 25px;
  height: 21px;
  vertical-align: text-top;
  background: url(../img/icons/IconsetW.png?1) -9px -132px no-repeat;
  background-size: 42px 560px;
  opacity: 0.8;
}
.is_1x .icon-camera {
  background-image: url(../img/icons/IconsetW_1x.png?2);
}
.im_media_attach:hover .icon-camera {
  opacity: 1;
}
.im_media_attach:active .icon-camera {
  background-position: -9px -162px;
  opacity: 1;
}

.im_panel_peer_photo,
.im_panel_own_photo {
  width: 50px;
  height: 50px;
  border-radius: 3px;
  overflow: hidden;
}
div.im_panel_peer_photo {
  cursor: pointer;
  margin-left: 12px;
  height: 55px;
}
div.im_panel_own_photo {
  margin-right: 12px;
}

.im_panel_peer_online {
  background: #6DBF69;
  border: 1px solid #FFF;
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 6px;
  overflow: hidden;
  position: absolute;
  margin-top: -7px;
  margin-left: 43px;
}
.status_online {
  background: #6DBF69;
  border: 1px solid #FFF;
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 6px;
  overflow: hidden;
  position: absolute;
  margin-top: -7px;
  margin-left: 33px;
}


.media_modal_wrap .modal-body {
  padding: 19px 18px 17px;
}
a.img_fullsize {
  display: block;
  text-align: center;
}
img.img_fullsize {
  margin: 0 auto;
}
.media_modal_info {
  color: #777;
  margin: 20px 0 0;
}
.media_modal_author {
  font-weight: bold;
}
.non_osx .media_modal_author {
  font-size: 12px;
}

.user_modal_window .modal-dialog {
  max-width: 506px;
}


.user_modal_wrap .modal-body {
  padding: 23px 25px 30px;
}
.settings_profile_photo_wrap {
  width: 120px;
  margin-right: 22px;
  margin-bottom: 15px;
}
.settings_profile_photo {
  position: relative;
  overflow: hidden;
}
.settings_profile_photo_change_wrap {
  background: rgba(0,0,0,0.6);
  padding: 2px 5px;
  position: absolute;
  opacity: 0;
  bottom: -30px;

  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  width: 120px;
}
.settings_profile_photo:hover .settings_profile_photo_change_wrap {
  bottom: 0;
  opacity: 1;
}

.settings_profile_photo_update_link,
.settings_profile_photo_delete_link,
.settings_profile_photo_loading {
  display: block;
  color: rgba(255,255,255,0.8);
  text-align: center;
  padding: 2px 0;
}
.settings_profile_photo_update_link:hover,
.settings_profile_photo_delete_link:hover {
  color: #FFF;
  text-decoration: none;
}
.settings_profile_photo_update_link {
  position: relative;
  overflow: hidden;
}


.user_modal_image_wrap {
  width: 120px;
  margin-right: 22px;
}
.user_modal_image {
  width: 120px;
  height: 120px;
}
.user_modal_header {
  font-weight: bold;
  margin: 0 0 5px;
}
.user_modal_status {
  color: #999;
}
.user_modal_send_btn {
  border: 0;
  background: #4E9CD8;
  font-size: 12px;
  margin-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
.user_modal_send_btn:hover {
  background: #539BD1;
}

.user_modal_settings_wrap {
  margin-top: 25px;
}
.user_modal_notifications {
  font-weight: bold;
}
.user_modal_clear {
  margin-top: 20px;
}


.chat_modal_window .modal-dialog {
  max-width: 506px;
}
.chat_modal_wrap .modal-body {
  padding: 23px 25px 15px;
}
.chat_modal_photo_wrap {
  width: 120px;
  margin-right: 22px;
}
.chat_modal_photo {
  position: relative;
  overflow: hidden;
}
.chat_modal_photo_change_wrap {
  background: rgba(0,0,0,0.6);
  padding: 2px 5px;
  position: absolute;
  opacity: 0;
  bottom: -30px;

  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  width: 120px;
}
.chat_modal_photo:hover .chat_modal_photo_change_wrap {
  bottom: 0;
  opacity: 1;
}

.chat_modal_photo_update_link,
.chat_modal_photo_delete_link,
.chat_modal_photo_loading {
  display: block;
  color: rgba(255,255,255,0.8);
  text-align: center;
  padding: 2px 0;
}
.chat_modal_photo_update_link:hover,
.chat_modal_photo_delete_link:hover {
  color: #FFF;
  text-decoration: none;
}
.chat_modal_photo_update_link {
  position: relative;
  overflow: hidden;
}
.chat_modal_header {
  margin: 0 0 5px;
}
.chat_modal_members_count {
  color: #999;
}

.chat_modal_settings_wrap {
  margin-top: 10px;
}
.chat_modal_notifications {
  font-weight: bold;
}
.chat_modal_clear {
  margin-top: 10px;
}
.chat_modal_leave {
  margin-top: 10px;
}

.chat_modal_invite_btn {
  padding-left: 0;
  padding-right: 0;
  font-size: 12px;
  margin-top: 8px;
}

.chat_modal_members_header {
  margin: 20px 0 6px;
}

.chat_modal_participant_wrap {
  padding: 8px 7px;
  border-top: 1px solid #F0F0F0;
}
.chat_modal_participant_kick {
  padding: 11px 0;
  display: block;
}
.chat_modal_participant_name {
  display: block;
  color: #3C6E97;
  font-weight: bold;
  margin: 1px 0 2px;
}
.non_osx .chat_modal_participant_name {
  font-size: 12px;
}
.chat_modal_participant_status {
  color: #999;
}
.chat_modal_participant_photo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  overflow: hidden;
}
.chat_modal_members_forbidden {
  color: #999;
}





/* Emoji area */
.emoji-wysiwyg-editor:empty:before {
  content: attr(placeholder);
  color: #9aa2ab;
}
.emoji-wysiwyg-editor:active:before,
.emoji-wysiwyg-editor:focus:before {
  content: none;
}

.emoji-wysiwyg-editor {
  font-size: 12px;
  margin-bottom: 10px;
  padding: 6px;
  min-height: 50px;
  height: auto;
  max-height: 300px;
  overflow: auto;
  line-height: 17px;

  border: 1px solid #d9dbde;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

  -webkit-user-select: text;
}
.emoji-wysiwyg-editor img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin: -3px 0 0 0;
}
.emoji-menu {
  position: absolute;
  z-index: 999;
  width: 206px;
  margin-left: -100px;
  margin-top: -233px;
  overflow: hidden;

  border: 1px #dfdfdf solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    0px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow:         0px 1px 1px rgba(0, 0, 0, 0.1);
}
.emoji-items-wrap1 {
  background: #FFF;
  padding: 8px 2px 5px 5px;
}
.emoji-items-wrap1 .emoji-menu-tabs {
    width: 100%;
}
.emoji-items-wrap1 .emoji-menu-tabs td {
    text-align: center;
    color: white;
}
.emoji-menu-tabs .emoji-menu-tab {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../img/icons/IconsetSmiles.png) no-repeat;
  background-size: 42px 350px;
}
.is_1x .emoji-menu-tabs .emoji-menu-tab {
  background-image: url(../img/icons/IconsetSmiles_1x.png);
}
.emoji-menu-tabs .icon-smile {background-position: -9px -34px; }
.emoji-menu-tabs .icon-smile-selected {background-position: -9px -5px; }

.is_2x .emoji-menu-tabs .icon-smile {background-position: -9px -37px; }
.is_2x .emoji-menu-tabs .icon-smile-selected {background-position: -9px -8px; }

.emoji-menu-tabs .icon-flower {background-position: -9px -145px; }
.emoji-menu-tabs .icon-flower-selected {background-position: -9px -118px; }

.is_2x .emoji-menu-tabs .icon-flower {background-position: -9px -145px; }
.is_2x .emoji-menu-tabs .icon-flower-selected {background-position: -9px -119px; }

.emoji-menu-tabs .icon-bell {background-position: -9px -90px; }
.emoji-menu-tabs .icon-bell-selected {background-position: -9px -62px; }

.is_2x .emoji-menu-tabs .icon-bell {background-position: -9px -91px; }
.is_2x .emoji-menu-tabs .icon-bell-selected {background-position: -9px -64px; }

.emoji-menu-tabs .icon-car {background-position: -9px -196px; }
.emoji-menu-tabs .icon-car-selected {background-position: -9px -170px; }

.emoji-menu-tabs .icon-grid {background-position: -9px -248px; }
.emoji-menu-tabs .icon-grid-selected {background-position: -9px -222px; }

.emoji-menu-tabs .icon-smile,
.emoji-menu-tabs .icon-flower,
.emoji-menu-tabs .icon-bell,
.emoji-menu-tabs .icon-car,
.emoji-menu-tabs .icon-grid {
  opacity: 0.7;
}
.emoji-menu-tabs .icon-smile:hover,
.emoji-menu-tabs .icon-flower:hover,
.emoji-menu-tabs .icon-bell:hover,
.emoji-menu-tabs .icon-car:hover,
.emoji-menu-tabs .icon-grid:hover {
  opacity: 1;
}


.emoji-menu .emoji-items-wrap {
  position: relative;
  height: 162px;
}
.emoji-menu .emoji-items {
  padding-right: 8px;
  outline: 0 !important;
}
.emoji-menu img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  border: 0 none;
}
.emoji-menu .emoji-items a {
  margin: -1px 0 0 -1px;
  /*border: 1px solid #f2f2f2;*/
  padding: 4px;
  display: block;
  float: left;
  border-radius: 2px;
}
.emoji-menu .emoji-items a:hover {
  /*background-color: rgba(0,0,0, 0.5);*/
  background-color: #edf2f5;
}
.emoji-menu:after {
  content: ' ';
  display: block;
  clear: left;
}
.emoji-menu a .label {
  display: none;
}

.emoji-menu-tail {
  display: none;
  background: url(../img/icons/IconsetW.png?1) -14px -268px no-repeat;
  background-size: 42px 560px;
  width: 14px;
  height: 7px;
  margin: 0 83px;
}
.is_1x .emoji-menu-tail {
  background-image: url(../img/icons/IconsetW_1x.png?2);
}


.emoji-menu .nano > .pane {
  background : rgba(255,255,255,.0);
  right: -2px;
}
.emoji-menu .nano > .pane > .slider {
  /*background: rgba(255,255,255,0.4);*/
  background: #d1d1d1;
  margin: 0 3px 0 4px;
  /*background: #A5B1B9;*/
  /*margin: 0 5px;*/
  /*-moz-border-radius    : 0;
  -webkit-border-radius : 0;
  border-radius         : 0;*/
}


.error_modal_window .modal-dialog {
  max-width: 400px;
}
.error_modal_description {
  text-align: center;
  padding: 40px 20px;
}



.photo_modal_error {
  color: #999;
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -20px;
  padding: 0 20px;
  text-align: center;
  font-size: 1.4em;
  line-height: 160%;
}

.video_full_error {
  border-radius: 10px;
  overflow: hidden;
  background: rgba(0,0,0,0.6);
  color: #FFF;
  position: absolute;
  top: 50%;
  margin: -40px 10px 0;
  padding: 10px 10px;
  text-align: center;
  font-size: 1.4em;
  line-height: 160%;
}






.settings_modal_window .modal-dialog {
  max-width: 502px;
}
.settings_profile_edit_form {
  margin-bottom: 15px;
}
.settings_profile_image_wrap {
  float: left;
  width: 120px;
  margin-right: 22px;
}
.settings_profile_first_name,
.settings_profile_last_name {
  width: 180px;
  float: left;
  margin-bottom: 0;
}
.settings_profile_first_name label,
.settings_profile_last_name label {
  margin-bottom: 3px;
}
.settings_profile_first_name {
  margin-right: 22px;
  margin-bottom: 10px;
}
.settings_profile_last_name {
  margin-right: 10px;
  margin-bottom: 15px;
}
.settings_profile_save {
  padding-top: 21px;
  float: left;
}
.settings_profile_save_btn {
  width: 50px;
}

.settings_profile_edit_form {
  margin-bottom: 0;
}
.settings_profile_edit_form input {
  font-size: 12px;
  line-height: normal;
  background: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 0;
  padding: 6px 6px 6px 6px;
  margin-bottom: 0;
  margin: 0;
}
.settings_profile_edit_form input:focus,
.settings_profile_edit_form input:active {
  background-color: #FFF;
}

.settings_send_choose_form input {
  margin-top: 2px;
}
.settings_send_choose_form {
  margin-bottom: 20px;
}

.settings_user_phone,
.settings_version {
  color: #999;
}


/* Contacts modal */
.contacts_modal_window .modal-dialog {
  max-width: 506px;
}
.contacts_modal_wrap .modal-body {
  padding: 23px 25px 15px;
}

.contacts_modal_search {
  padding: 0 0 14px;
  position: relative;
}
.contacts_modal_search_field {
  font-size: 12px;
  line-height: normal;
  background: #F2F2F2 url(../img/icons/IconsetW.png?1) -6px -205px no-repeat;
  background-size: 42px 560px;
  border: 1px solid #F2F2F2;
  border-radius: 3px;
  padding: 6px 20px 6px 30px;
  margin-bottom: 0;
  margin: 0;
}
.is_1x .contacts_modal_search_field {
  background-image: url(../img/icons/IconsetW_1x.png?2);
}
.contacts_modal_search_field:focus,
.contacts_modal_search_field:active {
  background-color: #FFF;
}

.contacts_modal_search_clear {
  position: absolute;
  right: 9px;
  margin-top: -23px;
  color: #999;
  width: 13px;
  height: 13px;
  vertical-align: text-top;
  background: url(../img/icons/IconsetW.png?1) -15px -192px no-repeat;
  background-size: 42px 560px;
  opacity: 0.6;
}
.is_1x .contacts_modal_search_clear {
  background-image: url(../img/icons/IconsetW_1x.png?2);
}
.contacts_modal_search_clear:hover {
  opacity: 1;
}

.contacts_modal_col {
  margin-right: -17px;
}
.contacts_scrollable_wrap {
  padding: 0 17px 0 0;
  outline: none ! important;
}


.contacts_modal_members_list .contacts_modal_contact_wrap {
  /*margin-top: 0;*/
}
.contacts_modal_members_list a.contacts_modal_contact {
  clear: both;
  overflow: hidden;
  color: #000;
  padding: 8px 9px;
  border-radius: 0;
}
.contacts_modal_members_list a.contacts_modal_contact:hover {
  border-radius: 2px;
  background: #f2f6fa;
}
.contacts_modal_members_list .active a.contacts_modal_contact {
  border-radius: 2px;
  background-color: #6490b1;
}
.contacts_modal_members_list .active a.contacts_modal_contact:hover {
  background-color: #6490b1;
}


.contacts_modal_contact_name {
  display: block;
  color: #3C6E97;
  font-weight: bold;
  margin: 1px 0 2px;
}
.non_osx .contacts_modal_contact_name {
  font-size: 12px;
}
.contacts_modal_contact_photo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  overflow: hidden;
}

.contacts_modal_contact_status {
  color: #999;
}
a.contacts_modal_contact:hover .contacts_modal_contact_status {
  color: #91a6ba;
}

.contacts_modal_members_list .active .contacts_modal_contact_name,
.contacts_modal_members_list .active a.contacts_modal_contact .contacts_modal_contact_status {
  color: #FFF;
}

.icon-contact-tick {
  position: absolute;
  right: 10px;
  top: 22px;
  width: 17px;
  height: 15px;
  background: url(../img/icons/IconsetW.png?1) -13px -366px no-repeat;
  background-size: 42px 560px;
  opacity: 0.5;
}
.is_1x .icon-contact-tick {
  background-image: url(../img/icons/IconsetW_1x.png?2);
}
.contacts_modal_members_list a.contacts_modal_contact:hover .icon-contact-tick {
  background-position: -13px -366px;
  opacity: 1;
}
.contacts_modal_members_list .active .icon-contact-tick {
  background-position: -13px -458px !important;
  opacity: 1;
}
.contacts_modal_members_list .disabled {
  pointer-events: none;
}
.contacts_modal_members_list .disabled .icon-contact-tick {
  display: none;
}


.contacts_modal_panel {
  padding-top: 10px;
}

.contacts_modal_actions {
  padding-top: 10px;
}



/* Messages edit panel */
.im_edit_panel_wrap {
  display: none;
  border-top: 1px solid #EEE;
  padding: 5px 5px;
}
.im_panel_to_top .im_edit_panel_wrap {
  background: #FFF;
  position: absolute;
  /*width: 652px;*/
  width: 100%;
}
.im_edit_delete_link,
.im_edit_forward_link,
.im_edit_cancel_link {
  display: block;
  padding: 8px 17px;
}
.im_edit_cancel_link {
  float: left;
}
.im_edit_delete_link,
.im_edit_forward_link {
  float: right;
}

.im_edit_delete_link:hover,
.im_edit_forward_link:hover,
.im_edit_cancel_link:hover {
  background: #f2f6fa;
  text-decoration: none;
}
.im_edit_delete_link {
  line-height: 0;
}

.im_edit_panel_title {
  text-align: center;
  margin: 0;
  font-size: 14px;
  line-height: 34px;
}

.icon-delete {
  display: inline-block;
  width: 12px;
  height: 15px;

  background: url(../img/icons/IconsetW.png?1) -15px -319px no-repeat;
  background-size: 42px 560px;
}
.is_1x .icon-delete {
  background-image: url(../img/icons/IconsetW_1x.png?2);
}

.im_message_date:hover {
  cursor: pointer;
  text-decoration: underline;
}
.im_message_selected {
  background: #f2f6fa;
}
.im_history_selectable .im_message_outer_wrap {
  cursor: pointer;
}
.im_history_selectable .im_message_outer_wrap:hover {
  background: #f2f6fa;
}
.im_message_selected .im_message_date,
.im_message_selected .im_message_fwd_header,
.im_history_selectable .im_message_outer_wrap:hover .im_message_date,
.im_history_selectable .im_message_outer_wrap:hover .im_message_fwd_header {
  color: #91a6ba;
}

.im_history_selectable .im_message_date:hover {
  text-decoration: none;
}

.im_message_wrap {
  max-width: 526px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.icon-select-tick {
  display: none;
  position: absolute;
  width: 17px;
  height: 15px;
  margin: 10px 0 0 -75px;
  background: url(../img/icons/IconsetW.png?1) -13px -343px no-repeat;
  background-size: 42px 560px;
}
.is_1x .icon-select-tick {
  background-image: url(../img/icons/IconsetW_1x.png?2);
}

@media (min-width: 1024px) {
  .im_history_selectable .icon-select-tick {
    display: inline-block;
  }
}

.im_message_selected .icon-select-tick,
.im_history_selectable .im_message_outer_wrap:hover .icon-select-tick {
  background-position: -13px -367px;
  opacity: 0.5;
}
.im_message_selected .icon-select-tick {
  opacity: 1 !important;
}


@media (min-width: 480px) {
  .tg_page_head .navbar-quick-nav {
    display: none;
  }
}

@media (max-width: 480px) {
  .tg_page_head .navbar > .container .navbar-brand {
    padding-left: 9px;
  }
  .im_history_panel_info_link {
    display: none;
  }
  .im_history_panel_edit_link {
    margin-right: 0;
  }
}

@media (min-height: 768px) {
  .user_modal_window .modal-dialog {
    margin-top: 150px;
  }
}


@media (max-width: 480px) {
  .login_form_wrap {
    border-radius: 0;
    max-width: auto;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin: 30px auto 20px;
  }


  .im_panel_own_photo,
  .im_panel_peer_photo {
    display: none;
  }
  .im_history_panel_wrap {
    margin: 0 15px;
  }
  .im_send_panel_wrap {
    padding: 10px 15px;
  }
  .icon-select-tick {
    margin: 10px 0 0 -24px
  }
  .im_content_message_wrap {
    margin-left: 0;
  }
  .im_history_typing {
    padding: 0 15px 0 60px;
  }

  .im_send_form {
    left: 0;
    right: 0;
    max-width: none;
  }
}

@media (max-height: 480px) {
  .im_page_footer {
    display: none;
  }

  .im_send_panel_wrap {
    padding-bottom: 12px;
  }

  .emoji-wysiwyg-editor {
    min-height: 34px;
    max-height: 150px;
  }
}

@media (max-width: 640px) {
  .im_dialog_peer {
    white-space: normal;
    height: 2.84em;
  }
  .im_dialog_message {
    display: none;
  }
}

@media (max-width: 900px) {
  /*.icon-message-status {
    margin-left: 0;
    margin-top: 18px;
    right: -1px;
  }*/

  .icon-message-status {
    z-index: 10;
    margin-left: -5px;
    border-radius: 0;
    height: 34px;
    border: 0;
    width: 2px;
    margin-top: 1px;
    border: 0;
  }
  /*.icon-message-status {
    z-index: 10;
    margin-left: -15px;
  }*/
}

@media (max-width: 480px) {
  .im_dialogs_col_wrap,
  .im_page_peer_not_selected .im_history_col_wrap {
    display: none;
  }
  .im_page_peer_not_selected .im_dialogs_col_wrap {
    display: block;
    border-right: 0;
  }

  .im_page_peer_not_selected .im_dialogs_col {
    margin-right: 0;
  }
  .im_page_peer_not_selected .im_dialogs_col_wrap .pane {
    width: 12px;
    right: 0px;
  }
  .im_page_peer_not_selected .im_dialogs_col_wrap .pane > .slider {
    border-radius: 3px;
    margin: 0 3px;
  }

  .im_dialogs_scrollable_wrap {
    padding: 0 12px 0 12px;
  }

  .im_dialogs_col_wrap,
  .im_history_col_wrap {
    float: none;
    width: auto;
    max-width: auto;
    min-width: auto;
  }

  .im_page_peer_not_selected .im_dialog_peer {
    white-space: nowrap;
    height: auto;
  }
  .im_page_peer_not_selected .im_dialog_message {
    display: block;
  }

  .im_emoji_btn {
    display: none;
  }
}


/* Dialogs modal */
.peer_select_window .modal-dialog {
  max-width: 506px;
}
.peer_select_modal_wrap .modal-body {
  padding: 10px 10px 15px;
}