<div class="contacts_modal_wrap">

  <div class="modal-header">
    <a class="modal-close-link visible-xs visible-sm" ng-click="$close()">Close</a>
    <h4 class="modal-title">Contacts</h4>
  </div>

  <div class="modal-body">

    <div class="contacts_modal_search">
      <input class="form-control contacts_modal_search_field" my-focused type="search" placeholder="Search" ng-model="search.query"/>
      <a class="contacts_modal_search_clear" ng-click="search.query = ''" ng-show="search.query.length"></a>
    </div>

    <div class="contacts_modal_members_list">

      <div class="contacts_modal_contact_wrap clearfix" ng-repeat="contact in contacts | orderBy:'user.sortName' track by contact.userID">
        <a ng-click="openUser(contact.userID)" class="contacts_modal_contact_photo pull-left">
          <img
            class="contacts_modal_contact_photo"
            my-load-thumb
            thumb="contact.userPhoto"
          />
          <i class="icon status_online" ng-show="contact.user.status._ == 'userStatusOnline'"></i>
        </a>
        <div class="contacts_modal_contact_name">
          <a ng-click="openUser(contact.user.id)" ng-bind-html="contact.user.rFullName"></a>
        </div>
        <div class="contacts_modal_contact_status">{{contact.user | userStatus}}</div>
      </div>

    </div>

  </div>

</div>