<div ng-include="'partials/head.html?1'"></div>

<div class="welcome_logo"></div>

<div class="welcome_box_wrap">
  <div class="welcome_text">
    <p>Welcome to an unofficial web-client of mobile <strong>Telegram</strong> messenger.</p>
    <p>Is in alpha, which means it is still not 200% secure and functional.</p>
    <p>Visit <a target="_blank" href="https://telegram.org/">telegram.org</a> to learn more.</p>
  </div>
  <a href="#/login" class="btn btn-tg btn-block">Start Messaging</a>
  </form>
</div>