<div class="md_simple_modal_wrap" my-modal-position>

  <div class="md_simple_modal_body">

    <form class="modal_simple_form" ng-submit="updateGroup()">

      <h4 my-i18n="group_edit_modal_title"></h4>

      <div class="md-input-group" my-labeled-input>
        <label class="md-input-label" my-i18n="group_edit_name"></label>
        <input class="md-input" my-focused type="text" ng-model="group.name" />
      </div>

    </form>

  </div>

  <div class="md_simple_modal_footer">
    <button class="btn btn-md" ng-click="$dismiss()" my-i18n="modal_cancel"></button>
    <button class="btn btn-md btn-md-primary" ng-class="{disabled: group.updating}" ng-click="updateGroup()" ng-bind="group.updating ? 'group_edit_submit_active' : 'group_edit_submit' | i18n" ng-disabled="group.updating"></button>
  </div>

</div>