<div class="confirm_modal_wrap md_simple_modal_wrap" my-modal-position>

  <div class="md_simple_modal_body">

    <div class="confirm_modal_description" ng-switch="type">
      <span ng-switch-when="LOGOUT" my-i18n="confirm_modal_logout"></span>
      <span ng-switch-when="WEBOGRAM_UPDATED_RELOAD" my-i18n="confirm_modal_update_reload"></span>
      <span ng-switch-when="HISTORY_FLUSH" my-i18n="confirm_modal_history_flush"></span>
      <span ng-switch-when="HISTORY_LEAVE_AND_FLUSH" my-i18n="confirm_modal_history_leave_flush_md"></span>
      <span ng-switch-when="HISTORY_FLUSH_AND_DELETE" my-i18n="confirm_modal_history_flush"></span>
      <span ng-switch-when="TERMINATE_SESSIONS" my-i18n="confirm_modal_terminate_sessions"></span>
      <span ng-switch-when="TERMINATE_SESSION" my-i18n="confirm_modal_terminate_session"></span>

      <span ng-switch-when="FILES_CLIPBOARD_PASTE">
        <ng-pluralize count="files.length"
                     when="confirm_modal_clipboard_X_files_send">
        </ng-pluralize>
      </span>
      <div ng-switch-when="FILE_CLIPBOARD_PASTE">
        <span my-i18n="confirm_modal_clipboard_file_send"></span>
        <div class="confirm_modal_paste_image" ng-if="fileUrl !== false" ng-style="{backgroundImage: 'url(' + fileUrl + ')'}"></div>
      </div>
      <span ng-switch-when="MESSAGE_DELETE" my-i18n="confirm_modal_message_delete"></span>
      <span ng-switch-when="MESSAGES_DELETE">
        <span my-i18n="confirm_modal_delete_messages">
          <my-i18n-param name="messages"><strong><ng-pluralize when="confirm_modal_delete_X_messages" count="count"></ng-pluralize></strong></my-i18n-param>
        </span>

        <a class="tg_checkbox" ng-if="revocable" ng-click="data.revoke = !data.revoke" ng-class="data.revoke ? 'tg_checkbox_on' : ''">
          <span class="icon icon-checkbox-outer"><i class="icon-checkbox-inner"></i></span>
          <span class="tg_checkbox_label" my-i18n="confirm_modal_message_revoke">
            <my-i18n-param name="recipient" ng-switch="isUser">
              <span ng-switch-when="true" my-peer-link="peerID" short="true"></span>
              <span ng-switch-default my-i18n="confirm_modal_message_revoke_recipient_chat"></span>
            </my-i18n-param>
          </span>
        </a>
        <p class="tg_checkbox" ng-if="!revocable && !isChannel && !isSavedMessages" ng-switch="isUser ? 'user' : (isSupergroup ? 'supergroup' : (isUsualGroup ? 'group' : 'default'))">
          <span ng-switch-when="supergroup" my-i18n="confirm_modal_delete_messages_for_everyone_chat"></span>
          <span ng-switch-when="group" my-i18n="confirm_modal_delete_messages_for_you_only_chat"></span>
          <span ng-switch-when="user" my-i18n="confirm_modal_delete_messages_for_you_only_pm"><my-i18n-param name="user"><strong my-peer-link="peerID"></strong></my-i18n-param></span>
        </p>
      </span>
      <span ng-switch-when="PHOTO_DELETE" my-i18n="confirm_modal_photo_delete"></span>
      <span ng-switch-when="CONTACTS_IMPORT_PERFORM" my-i18n="confirm_modal_contacts_import"></span>
      <div ng-switch-when="LOGIN_PHONE_CORRECT">
        <my-i18n msgid="confirm_modal_login_phone_correct"></my-i18n>
        <div class="confirm_phone_number">
          <span ng-bind="country_code"></span> <span ng-bind="phone_number"></span>
        </div>
      </div>
      <my-i18n>
        <span ng-switch-when="FORWARD_PEER" my-i18n-format="confirm_modal_forward_to_peer"></span>
        <span ng-switch-when="SHARE_CONTACT_PEER" my-i18n-format="confirm_modal_send_to_peer"></span>
        <span ng-switch-when="SHARE_URL" my-i18n-format="confirm_modal_send_to_peer"></span>
        <span ng-switch-when="EXT_SHARE_PEER" my-i18n-format="confirm_modal_share_file_peer"></span>
        <span ng-switch-when="INVITE_TO_GROUP" my-i18n-format="confirm_modal_invite_peer"></span>
        <span ng-switch-when="INVITE_TO_GAME" my-i18n-format="confirm_modal_share_game"></span>
        <my-i18n-param name="peer">
          <strong my-peer-link="peer_id"></strong>
        </my-i18n-param>
      </my-i18n>
      <div ng-switch-when="APPLY_LANG_WITH_RELOAD" my-i18n="confirm_modal_apply_lang_with_reload_md"></div>
      <div ng-switch-when="MIGRATE_TO_HTTPS" my-i18n="confirm_modal_migrate_to_https_md"></div>
      <div ng-switch-when="SWITCH_DESKTOP_VERSION" my-i18n="confirm_modal_resize_desktop_md"></div>
      <div ng-switch-when="SWITCH_MOBILE_VERSION" my-i18n="confirm_modal_resize_mobile_md"></div>
      <div ng-switch-when="RECOVERY_EMAIL_EMPTY" my-i18n="confirm_modal_recovery_email_empty_md"></div>
      <div ng-switch-when="PASSWORD_ABORT_SETUP"  my-i18n="confirm_modal_abort_password_setup"></div>
      <div ng-switch-when="RESET_ACCOUNT" my-i18n="confirm_modal_reset_account_md"></div>
      <div ng-switch-when="JOIN_GROUP_BY_LINK" my-i18n="confirm_modal_join_group_link">
        <my-i18n-param name="title"><strong ng-bind="title"></strong></my-i18n-param>
      </div>
      <div ng-switch-when="JOIN_CHANNEL_BY_LINK" my-i18n="confirm_modal_join_channel_link">
        <my-i18n-param name="title"><strong ng-bind="title"></strong></my-i18n-param>
      </div>
      <div ng-switch-when="REVOKE_GROUP_INVITE_LINK" my-i18n="confirm_modal_revoke_group_link"></div>
      <div ng-switch-when="REVOKE_CHANNEL_INVITE_LINK" my-i18n="confirm_modal_revoke_channel_link"></div>
      <div ng-switch-when="CHANNEL_DELETE" my-i18n="confirm_modal_delete_channel_md"></div>
      <div ng-switch-when="MEGAGROUP_DELETE" my-i18n="confirm_modal_delete_group_md"></div>
      <div ng-switch-when="CHANNEL_LEAVE" my-i18n="confirm_modal_leave_channel_md"></div>
      <div ng-switch-when="MEGAGROUP_LEAVE" my-i18n="confirm_modal_leave_group_md"></div>
      <div ng-switch-when="JUMP_EXT_URL" my-i18n="confirm_modal_jump_ext_url_md" class="confirm_modal_extlink_jump">
        <my-i18n-param name="url"><strong ng-bind="url"></strong></my-i18n-param>
      </div>
      <div ng-switch-when="SUPERGROUP_MIGRATE" my-i18n="confirm_modal_migrate_supergroup_md"></div>
      <div ng-switch-when="BOT_ACCESS_PHONE" my-i18n="confirm_modal_bot_access_phone"></div>
      <div ng-switch-when="BOT_ACCESS_GEO" my-i18n="confirm_modal_bot_access_geo"></div>
      <div ng-switch-when="BOT_ACCESS_GEO_INLINE" my-i18n="confirm_modal_bot_access_geo_inline"></div>



      <span ng-switch-default ng-switch="message.length > 0">
        <span ng-switch-when="true" ng-bind="message"></span>
        <span ng-switch-default my-i18n="confirm_modal_are_u_sure"></span>
      </span>
    </div>

  </div>

  <div class="md_simple_modal_footer">
    <button class="btn btn-md" ng-click="$dismiss()">
      <span my-i18n="modal_cancel"></span>
    </button>
    <button class="btn btn-md btn-md-primary" ng-switch="type" ng-click="$close(data)" ng-class="{'btn-md-danger': type == 'RESET_ACCOUNT' || type == 'HISTORY_LEAVE_AND_FLUSH' || type == 'HISTORY_FLUSH_AND_DELETE' || type == 'HISTORY_FLUSH'}" my-focused >
      <span ng-switch-when="LOGOUT" my-i18n="confirm_modal_logout_submit"></span>
      <span ng-switch-when="HISTORY_FLUSH" my-i18n="confirm_modal_clear_history_submit"></span>
      <span ng-switch-when="HISTORY_LEAVE_AND_FLUSH" my-i18n="confirm_modal_leave_chat_submit"></span>
      <span ng-switch-when="HISTORY_FLUSH_AND_DELETE" my-i18n="confirm_modal_delete_chat_submit"></span>
      <span ng-switch-when="FILES_CLIPBOARD_PASTE" my-i18n="confirm_modal_clipboard_files_send_submit"></span>
      <span ng-switch-when="FILE_CLIPBOARD_PASTE" my-i18n="confirm_modal_clipboard_file_send_submit"></span>
      <span ng-switch-when="MESSAGE_DELETE" my-i18n="confirm_modal_message_delete_submit"></span>
      <span ng-switch-when="MESSAGES_DELETE" my-i18n="confirm_modal_messages_delete_submit"></span>
      <span ng-switch-when="PHOTO_DELETE" my-i18n="confirm_modal_photo_delete_submit"></span>
      <span ng-switch-when="FORWARD_PEER" my-i18n="confirm_modal_forward_message_submit"></span>
      <span ng-switch-when="PHOTO_SHARE_PEER" my-i18n="confirm_modal_share_photo_submit"></span>
      <span ng-switch-when="VIDEO_SHARE_PEER" my-i18n="confirm_modal_share_video_submit"></span>
      <span ng-switch-when="SHARE_CONTACT_PEER" my-i18n="confirm_modal_share_contact_submit"></span>
      <span ng-switch-when="EXT_SHARE_PEER" my-i18n="confirm_modal_share_file_submit"></span>
      <span ng-switch-when="RESET_ACCOUNT" my-i18n="confirm_modal_reset_account_submit"></span>
      <span ng-switch-default my-i18n="modal_ok"></span>
    </button>
  </div>

</div>
