<app-header class="tg_head_split">
  <div class="tg_split_view">
    <app-toolbar class="left">
      <paper-menu-button>
        <paper-icon-button icon="menu" slot="dropdown-trigger"></paper-icon-button>
        <paper-listbox slot="dropdown-content">
          <paper-icon-item ng-click="openGroup()">
            <mwc-icon slot="item-icon">group_add</mwc-icon><span my-i18n="im_new_group"></span>
          </paper-icon-item>
          <paper-icon-item ng-if="!isEmpty.contacts" ng-click="openContacts()">
            <mwc-icon slot="item-icon">contacts</mwc-icon><span my-i18n="im_contacts"></span>
          </paper-icon-item>
          <paper-icon-item ng-click="openSettings()">
            <mwc-icon slot="item-icon">settings</mwc-icon><span my-i18n="im_settings"></span>
          </paper-icon-item>
          <paper-icon-item ng-click="openFaq()">
            <mwc-icon slot="item-icon">question_answer</mwc-icon><span my-i18n="head_telegram_faq"></span>
          </paper-icon-item>
          <paper-icon-item ng-click="openChangelog()">
            <mwc-icon slot="item-icon">change_history</mwc-icon><span my-i18n="head_about"></span>
          </paper-icon-item>
          <paper-icon-item ng-click="logOut()">
            <mwc-icon slot="item-icon">lock</mwc-icon><span my-i18n="head_log_out"></span>
          </paper-icon-item>
        </paper-listbox>
      </paper-menu-button>

      <div ng-if="!offline" main-title>Telegram</div>

      <div ng-if="offline" main-title ng-switch="offlineConnecting">
          <span ng-switch-default><my-i18n msgid="head_waiting_for_network"></my-i18n><span my-loading-dots></span></span>
          <mwc-button ng-switch-default ng-click="retryOnline()" my-i18n="head_retry"></mwc-button>
          <span ng-switch-when="true"><my-i18n msgid="head_connecting"></my-i18n><span my-loading-dots></span></span>
       </div>
    </app-toolbar>
    <app-toolbar class="right" ng-if="!!historyPeer.id">

      <paper-icon-button icon="arrow-back" ng-show="historyFilter.mediaType.length || historyState.skipped" ng-click="returnToRecent()"></paper-icon-button>

      <div main-title ng-switch="historyFilter.mediaType">
        <div ng-switch-when="photos">
          <mwc-icon>photo</mwc-icon><span my-i18n="im_media_photos"></span>
        </div>
        <div ng-switch-when="video">
          <mwc-icon>local_movies</mwc-icon><span my-i18n="im_media_video"></span>
        </div>
        <div ng-switch-when="documents">
          <mwc-icon>insert_drive_file</mwc-icon><span my-i18n="im_media_documents"></span>
        </div>
        <div ng-switch-when="audio">
          <mwc-icon>audiotrack</mwc-icon><span my-i18n="im_media_audio"></span>
        </div>
        <div ng-switch-when="round">
          <mwc-icon>mic</mwc-icon><span my-i18n="im_media_round"></span>
        </div>
        <div ng-switch-when="music">
          <mwc-icon>mic</mwc-icon><span my-i18n="im_media_music"></span>
        </div>
        <div ng-switch-when="urls">
          <span my-i18n="im_media_links"></span>
        </div>
        <div ng-switch-when="mentions">
          <span my-i18n="im_media_mentions"></span>
        </div>

        <a ng-switch-default ng-click="showPeerInfo()">
          <span class="tg_head_peer_title" my-peer-link="historyPeer.id" peer-watch="true" dir="auto" for-dialog="true"></span>
          <span class="tg_head_peer_status" ng-switch="historyPeer.id > 0">
            <span ng-switch-when="true" my-user-status="historyPeer.id" for-dialog="true"></span>
            <span ng-switch-default my-chat-status="-historyPeer.id"></span>
          </span>
        </a>
      </div>

      <paper-icon-button icon="search" ng-click="toggleMedia('search')"></paper-icon-button>

      <paper-menu-button horizontal-align="right">
        <paper-icon-button icon="more-vert" slot="dropdown-trigger"></paper-icon-button>
        <paper-listbox slot="dropdown-content">
          <paper-item ng-click="toggleEdit()" my-i18n="head_select_messages"></paper-item>
          <hr>
          <paper-item ng-click="toggleMedia('photos')" my-i18n="head_media_photos"></paper-item>
          <paper-item ng-click="toggleMedia('video')" my-i18n="head_media_video"></paper-item>
          <paper-item ng-click="toggleMedia('documents')" my-i18n="head_media_documents"></paper-item>
          <paper-item ng-click="toggleMedia('music')" my-i18n="head_media_music"></paper-item>
          <paper-item ng-click="toggleMedia('urls')" my-i18n="head_media_links"></paper-item>
          <paper-item ng-click="toggleMedia('audio')" my-i18n="head_media_audio"></paper-item>
          <paper-item ng-click="toggleMedia('round')" my-i18n="head_media_round"></paper-item>
          <hr ng-if="isHistoryPeerGroup()">
          <paper-item ng-if="isHistoryPeerGroup()" ng-click="toggleMedia('mentions')" my-i18n="head_media_mymentions"></paper-item>
        </paper-listbox>
      </paper-menu-button>
    </app-toolbar>
  </div>
</app-header>
