<div class="inactive_page_wrap">
  <div class="tg_head_split inactive_head"></div>
  <div class="im_page_wrap">
    <div class="inactive_page_content" my-vertical-position="0.35">
      <a class="inactive_image" ng-click="reload()"></a>
      <h3 class="inactive_title" my-i18n="inactive_title"></h3>
      <div class="inactive_description" my-i18n="inactive_description_md"></div>
      <div class="inactive_actions">
        <button class="btn btn-lg btn-md btn-md-primary" ng-click="reload()" my-i18n="inactive_reload_btn" my-focused></button>
      </div>
    </div>
  </div>
</div>