<div class="changelog_modal_wrap md_modal_wrap" my-modal-position>

  <div class="md_modal_head">
    <div class="md_modal_title_wrap">
      <div class="md_modal_actions_wrap clearfix">
        <a class="md_modal_action md_modal_action_close" ng-click="$close()" my-i18n="modal_close"></a>
      </div>
      <div class="md_modal_title">About 482.solutions</div>
    </div>

    <div class="peer_modal_profile_wrap clearfix">
      <div class="peer_modal_photo_wrap pull-left">
        <div class="solutions482_logo"></div>
      </div>
      <div class="peer_modal_profile">
        <div class="peer_modal_profile_name">482.solutions</div>
<!--        <div class="peer_modal_profile_description">-->
<!--          482.solutions-->
<!--        </div>-->
      </div>
    </div>
  </div>

  <div class="md_modal_split_actions_wrap">
    <div class="md_modal_split_actions">
      <a href="https://twitter.com/482solutions" target="_blank" class="md_modal_split_action">
        <i class="md_modal_split_action_twitter"></i>
      </a>
    </div>
  </div>

  <div class="md_modal_body">

    <div class="md_modal_sections">

      <div class="md_modal_versioned_section_wrap">
        <div class="md_modal_section_description changelog_version_changes">
          <b>482.solutions</b> is a software engineering provider specializing in innovative solutions using decentralized technologies.<br>
          The key competency of 482.solutions is creating solutions for “Industry 4.0” issues: Blockchain, Future of Energy, Digital Identity, Decentralized Asset Management, Financial Products, and Services.<br>
          Let’s check our Clutch.co profile, short video about us or read our full presentation!</div>
      </div>

    </div>


    <div class="changelog_footer_wrap clearfix">
      <a class="changelog_github_link" href="https://github.com/482solutions/webogram" target="_blank">GitHub</a>
    </div>

  </div>

</div>
