<div class="settings_modal_wrap md_modal_wrap" my-modal-position>

  <div class="md_modal_head">
    <div class="md_modal_title_wrap">
      <div class="md_modal_actions_wrap clearfix">
        <a class="md_modal_action md_modal_action_close" ng-click="$close()"
           my-i18n="modal_close"></a>
      </div>
      <div class="md_modal_title">Incognito</div>
    </div>
    <div class="md_incognito_wrap clickable">
      <div class="mmd_incognito_modal_row_align_center">
        <div class="md_incognito_icon md_incognito_icons_key">Keys</div>
      </div>
    </div>
    <div class="md_incognito_wrap clickable">
      <div class="md_incognito_modal_row_align_center">
        <div class="md_incognito_icon md_incognito_icons_trade">Trade</div>
      </div>
    </div>
  </div>


  <div class="md_modal_split_actions_wrap">
    <span ng-click="showAccounts()" class="md_incognito_modal_label clickable">{{ account.name }}</span>
  </div>

  <div class="md_modal_body" style="padding-bottom: 50px">
    <div class="md_modal_sections clearfix">
      <div class="md_incognito_modal_column_align_center">
        <div class="md_incognito_header_1">
          {{ account.balance }}
        </div>
        <div class="md_incognito_small">Balance</div>
        <button type="button" class="btn btn-primary md_incognito_button">Send my crypto</button>
      </div>
    </div>
    <ul class="full_width md_incognito_list clearfix">
      <li class="md_incognito_modal_row_align_center md_incognito_modal_row_justify_between"
          ng-repeat="wallet in account.wallets">
        <span class="md_incognito_modal_row_align_center">
          <span>{{ wallet.name }}</span>
          <span ng-if="wallet.verified"
                class="md_incognito_icon md_incognito_icons_verified"></span>
        </span>
        <span class="md_incognito_modal_row_align_center">
          <span>{{ wallet.balance }} </span>
          <span>{{ wallet.symbol }}</span>
        </span>
      </li>
    </ul>
  </div>

</div>
