<div ng-switch="::media._">
  <div ng-switch-when="messageMediaPhoto"     my-message-photo="media" message-id="messageId"></div>
  <div ng-switch-when="messageMediaDocument"  my-message-document="media" message-id="messageId"></div>
  <div ng-switch-when="messageMediaGeo"       my-message-geo="media"></div>
  <div ng-switch-when="messageMediaVenue"     my-message-venue="media"></div>
  <div ng-switch-when="messageMediaContact"   my-message-contact="media"></div>
  <div ng-switch-when="messageMediaWebPage"   my-message-webpage="media" message-id="messageId"></div>
  <div ng-switch-when="messageMediaGame"      my-message-game="media" message-id="messageId"></div>
  <div ng-switch-when="messageMediaPending"   my-message-pending="media"></div>  

  <div ng-switch-when="messageMediaUnsupported">
    <div class="im_message_text" my-i18n="message_attach_unsupported_desktop">
      <my-i18n-param name="link"><a href="https://getdesktop.telegram.org" target="_blank">getdesktop.telegram.org</a></my-i18n-param>
    </div>
  </div>

  <div ng-switch-when="messageMediaUnsupportedWeb">
    <div class="im_message_text" my-i18n="message_attach_notweb">
      <my-i18n-param name="link"><a href="https://web.telegram.org" target="_blank">web.telegram.org</a></my-i18n-param>
    </div>
  </div>
</div>