<span ng-switch="::historyMessage.action._">
  <my-i18n>
    <span ng-switch-when="messageActionChatCreate" my-i18n-format="message_service_created_group"></span>
    <span ng-switch-when="messageActionChatEditTitle" my-i18n-format="message_service_changed_group_name"></span>
    <my-i18n-param name="group-name">&laquo;<strong ng-bind-html="::historyMessage.action.rTitle"></strong>&raquo;</my-i18n-param>
  </my-i18n>
  <span ng-switch-when="messageActionChatEditPhoto" my-i18n="message_service_changed_group_photo"></span>
  <span ng-switch-when="messageActionChatDeletePhoto" my-i18n="message_service_removed_group_photo"></span>
  <span ng-switch-when="messageActionChatJoinedByLink" my-i18n="message_service_joined_by_link"></span>
  <span ng-switch-when="messageActionChatReturn" my-i18n="message_service_returned_to_group"></span>
  <span ng-switch-when="messageActionChatJoined" my-i18n="message_service_joined"></span>
  <span ng-switch-when="messageActionChatAddUser" my-i18n="message_service_invited_user">
    <my-i18n-param name="user"><a my-peer-link="historyMessage.action.user_id" color="true"></a></my-i18n-param>
  </span>
  <span ng-switch-when="messageActionChatAddUsers" my-i18n="message_service_invited_users">
    <my-i18n-param name="user"><a my-peer-link="historyMessage.action.users[0]" color="true"></a></my-i18n-param>
    <my-i18n-param name="num-more"><span ng-bind="historyMessage.action.users.length - 1"></span></my-i18n-param>
  </span>
  <span ng-switch-when="messageActionChatLeave" my-i18n="message_service_left_group"></span>
  <span ng-switch-when="messageActionChatDeleteUser" my-i18n="message_service_kicked_user">
    <my-i18n-param name="user"><a my-peer-link="historyMessage.action.user_id" color="true"></a></my-i18n-param>
  </span>

  <span ng-switch-when="messageActionChatMigrateTo" my-i18n="message_service_converted_to_supergroup"></span>
  <span ng-switch-when="messageActionChannelMigrateFrom" my-i18n="message_service_converted_to_supergroup"></span>
  <span ng-switch-when="messageActionChannelCreate" my-i18n="message_service_created_channel"></span>
  <span ng-switch-when="messageActionChannelEditTitle" my-i18n="message_service_changed_channel_name">
    <my-i18n-param name="channel-name">&laquo;<strong ng-bind-html="::historyMessage.action.rTitle"></strong>&raquo;</my-i18n-param>
  </span>
  <span ng-switch-when="messageActionChannelEditPhoto" my-i18n="message_service_changed_channel_photo"></span>
  <span ng-switch-when="messageActionChannelDeletePhoto" my-i18n="message_service_removed_channel_photo"></span>

  <span ng-switch-when="messageActionGameScore" my-i18n="message_service_scored_game">
    <my-i18n-param name="scored">
      <ng-pluralize count="historyMessage.action.score"
                     when="message_service_scored_X"></ng-pluralize>
    </my-i18n-param>
    <my-i18n-param name="message"><a class="im_service_message_pinned" my-pinned-message="::historyMessage.reply_to_mid"></a></my-i18n-param>
  </span>

  <span ng-switch-when="messageActionPinMessage" my-i18n="message_service_pinned_message">
    <my-i18n-param name="message"><a class="im_service_message_pinned" my-pinned-message="::historyMessage.reply_to_mid"></a></my-i18n-param>
  </span>

  <a ng-switch-when="messageActionPhoneCall" class="im_service_message_phonecall" ng-click="phoneCallClick(historyMessage.mid)" ng-switch="historyMessage.action.type">
    <span ng-switch-when="out_missed" my-i18n="message_service_phonecall_canceled"></span>
    <span ng-switch-when="in_missed" my-i18n="message_service_phonecall_missed"></span>
    <span ng-switch-when="out_ok" my-i18n="message_service_phonecall_outgoing"></span>
    <span ng-switch-when="in_ok" my-i18n="message_service_phonecall_incoming"></span>
    <span ng-if="historyMessage.action.duration > 0" ng-bind="historyMessage.action.duration | duration" class="im_service_message_phonecall_duration"></span>
  </a>

  <span ng-switch-when="messageActionPaymentSent" my-i18n="message_service_payment_sent"></span>

  <span ng-switch-when="messageActionScreenshotTaken" my-i18n="message_service_screenshot_taken"></span>

  <span ng-switch-when="messageActionCustomAction" ng-bind="historyMessage.action.message"></span>
  

  <span ng-switch-default my-i18n="message_service_unsupported_action">
    <my-i18n-param name="action"><span ng-bind="historyMessage.action._"></span></my-i18n-param>
  </span>
</span>
