<div class="md_simple_modal_wrap" my-modal-position>

  <div class="md_simple_modal_body">

    <form class="modal_simple_form" ng-submit="updatePassword()">

      <h4 my-i18n="username_edit_modal_title"></h4>

      <div ng-if="password._ != 'account.noPassword'" class="md-input-group" ng-class="{'md-input-error': checked.error}" my-labeled-input>
        <label class="md-input-label" my-i18n="password_current_placeholder"></label>
        <input class="md-input" my-focused type="text" ng-model="passwordSettings.current_password" name="current_password" />
      </div>

      <div class="md-input-group" ng-class="{'md-input-error': checked.error}" my-labeled-input>
        <label class="md-input-label" my-i18n="password_new_placeholder"></label>
        <input class="md-input" type="text" ng-model="passwordSettings.new_password" name="new_password" />
      </div>

      <div class="md-input-group" ng-class="{'md-input-error': checked.error}" my-labeled-input>
        <label class="md-input-label" my-i18n="password_new_placeholder"></label>
        <input class="md-input" type="text" ng-model="passwordSettings.confirm_password" name="confirm_password" />
      </div>

      <div class="md-input-group" ng-class="{'md-input-error': checked.error}" my-labeled-input>
        <label class="md-input-label" my-i18n="password_new_placeholder"></label>
        <input class="md-input" type="text" ng-model="passwordSettings.hint" name="hint" />
      </div>

      <div class="md-input-group" ng-class="{'md-input-error': checked.error}" my-labeled-input>
        <label class="md-input-label" my-i18n="password_new_placeholder"></label>
        <input class="md-input" type="text" ng-model="passwordSettings.email" name="email" />
      </div>

      <div class="md_simple_form_description" my-i18n="username_edit_description_md"></div>

    </form>

  </div>

  <div class="md_simple_modal_footer">

    <button class="btn btn-md" ng-click="$dismiss()" my-i18n="modal_cancel"></button>
    <button class="btn btn-md btn-md-primary" ng-class="{disabled: passwordSettings.updating}" ng-click="updatePassword()" ng-bind="passwordSettings.updating ? 'username_edit_submit_active' : 'username_edit_submit' | i18n" ng-disabled="passwordSettings.updating"></button>

  </div>

</div>