<div class="md_simple_modal_wrap" my-modal-position>

  <div class="md_simple_modal_body">

    <form class="modal_simple_form" ng-submit="$close(reason)">

      <h4 my-i18n="report_reason_modal_title"></h4>

      <div class="tg_radios_wrap">
        <a class="md_modal_section_radio_wrap tg_radio" ng-click="toggleReportReason('inputReportReasonSpam')" ng-class="reason._ == 'inputReportReasonSpam' ? 'tg_radio_on' : ''">
          <span class="icon icon-radio-outer"><i class="icon-radio"></i></span>
          <span my-i18n="report_reason_modal_spam"></span>
        </a>

        <a class="md_modal_section_radio_wrap tg_radio" ng-click="toggleReportReason('inputReportReasonViolence')" ng-class="reason._ == 'inputReportReasonViolence' ? 'tg_radio_on' : ''">
          <span class="icon icon-radio-outer"><i class="icon-radio"></i></span>
          <span my-i18n="report_reason_modal_violence"></span>
        </a>

        <a class="md_modal_section_radio_wrap tg_radio" ng-click="toggleReportReason('inputReportReasonChildAbuse')" ng-class="reason._ == 'inputReportReasonChildAbuse' ? 'tg_radio_on' : ''">
          <span class="icon icon-radio-outer"><i class="icon-radio"></i></span>
          <span class="" my-i18n="report_reason_modal_childabuse"></span>
        </a>

        <a class="md_modal_section_radio_wrap tg_radio" ng-click="toggleReportReason('inputReportReasonPornography')" ng-class="reason._ == 'inputReportReasonPornography' ? 'tg_radio_on' : ''">
          <span class="icon icon-radio-outer"><i class="icon-radio"></i></span>
          <span my-i18n="report_reason_modal_pornography"></span>
        </a>


        <a class="md_modal_section_radio_wrap tg_radio" ng-click="toggleReportReason('inputReportReasonOther')" ng-class="reason._ == 'inputReportReasonOther' ? 'tg_radio_on' : ''">
          <span class="icon icon-radio-outer"><i class="icon-radio"></i></span>
          <span my-i18n="report_reason_modal_other"></span>
        </a>
      </div>

      <div class="md-input-group" my-labeled-input ng-show="reason._ == 'inputReportReasonOther'">
        <label class="md-input-label" my-i18n="report_reason_modal_other_placeholder"></label>
        <input class="md-input" my-focus-on="ui_reason_text_focus" type="text" ng-model="reason.text" />
      </div>

    </form>

  </div>

  <div class="md_simple_modal_footer">
    <button class="btn btn-md" ng-click="$dismiss()" my-i18n="modal_cancel"></button>
    <button class="btn btn-md btn-md-primary" ng-click="$close(reason)" my-i18n="report_reason_modal_submit_btn"></button>
  </div>

</div>