<div class="stickerset_modal_wrap md_modal_wrap" my-modal-position>

  <div class="md_modal_head md_modal_head_simple">
    <div class="md_modal_title_wrap">
      <div class="md_modal_actions_wrap clearfix">
        <a class="md_modal_action md_modal_action_close" ng-click="$dismiss()" my-i18n="modal_close"></a>
      </div>
    </div>
    <div class="md_modal_title" my-i18n="stickerset_modal_title"></div>
  </div>

  <div class="md_modal_body">

    <div my-stickerset-list class="stickerset_modal_col">

      <div class="stickerset_wrap nano" my-infinite-scroller>
        <div class="stickerset_scrollable_wrap nano-content" ng-switch="!stickersetLoaded">

          <div ng-switch-when="true" class="stickerset_modal_loading" my-vertical-position="0.2" padding="true" my-i18n="stickerset_modal_loading">
            <my-i18n-param name="dots">
              <span my-loading-dots></span>
            </my-i18n-param>
          </div>

          <div ng-switch-default>
            <h4 ng-bind="stickerset.title"></h4>

            <ul class="stickerset_modal_stickers_list">

              <li class="stickerset_modal_sticker_wrap" ng-repeat="sticker in documents | limitTo: slice.limit">
                <img class="stickerset_modal_sticker" my-load-sticker document="sticker"></img>
                <div class="stickerset_modal_sticker_alt" ng-bind-html="sticker.stickerEmoji"></div>
              </li>

            </ul>
          </div>

        </div>
      </div>

    </div>

  </div>

</div>
