<div class="changelog_modal_wrap" my-modal-position>

  <a class="modal-close-button" ng-click="$close()"><i></i></a>

  <div class="modal-body">

    <div class="changelog_card_wrap" ng-switch="lastVersion === false">
      <div ng-switch-when="true">
        <div class="changelog_card_search"></div>
        <h2 class="changelog_header">Recent updates in <strong>Telegram Web</strong></h2>
      </div>
      <div ng-switch-default>
        <div class="changelog_card_search"></div>
        <h2 class="changelog_header"><strong>Telegram Web</strong> has been updated!</h2>
      </div>
    </div>

    <div class="changelog_versions_wrap">

      <div class="modal_section changelog_version_wrap">
        <h3 class="modal_section_header changelog_version_title">
          <span class="pull-right">current version</span>
          Version 0.1.6
        </h3>
        <div class="modal_section_body changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Added search of messages</li>
            <li>Improved performance of chats with lots of unread messages</li>
            <li>Bugfixes</li>
          </ul>
        </div>
      </div>

      <div class="modal_section changelog_version_wrap">
        <h3 class="modal_section_header changelog_version_title">
          Version 0.1.5
        </h3>
        <div class="modal_section_body changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Added registration</li>
            <li>Improved experience for newly registered users</li>
          </ul>
        </div>
      </div>

      <div class="modal_section changelog_version_wrap">
        <h3 class="modal_section_header changelog_version_title">
          Version 0.1.4
        </h3>
        <div class="modal_section_body changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Browse userpic history (click on the photo in user info)</li>
            <li>New <a href="https://github.com/zhukov/webogram" target="_blank" title="Source code on GitHub">GitHub</a>, <a href="https://twitter.com/telegram_web" target="_blank" title="Follow us on Twitter!">Twitter</a> buttons in Settings</li>
            <li>Updated keyboard shortcuts:</li>
            <ul>
              <li><strong>Alt+Home</strong> - switch to first (most recent) conversation</li>
              <li>Removed <strong>Alt+1, 2, 3..</strong> shortcuts due to conflicts in different browsers</li>
            </ul>
          </ul>
        </div>
      </div>

      <div class="modal_section changelog_version_wrap">
        <h3 class="modal_section_header changelog_version_title">
          Version 0.1.3
        </h3>
        <div class="modal_section_body changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Added version history to welcome screen</li>
            <li>Added keyboard shortcuts:</li>
            <ul>
              <li><strong>Tab</strong> - set focus to message field</li>
              <li><strong>Esc</strong> or <strong>Shift+Tab</strong> - set focus to search field</li>
              <li><strong>Up/Down</strong> (while in search field) - move between conversations</li>
              <li><strong>Enter</strong> (while in search field) - open selected or first conversation</li>
              <li><strong>Alt+Up/Down</strong> - move to previous/next conversation</li>
            </ul>
            <li>Improved grouping for messages</li>
            <li>Fixed video modal positioning bug</li>
            <li>Fixed focusing issues on mobile</li>
          </ul>
        </div>
      </div>

    </div>

  </div>

</div>