<div class="chat_modal_wrap" my-modal-position>

  <a class="modal-close-button" ng-click="$close()"><i></i></a>

  <div class="modal-body">

    <div class="user_modal_photo_profile_wrap">

      <div class="user_modal_image_wrap pull-left">
        <img
          class="user_modal_image"
          my-load-thumb
          thumb="chatFull.thumb"
        />
      </div>

      <div class="chat_modal_info_wrap clearfix">
        <h4 class="chat_modal_header" ng-bind-html="chatFull.chat.rTitle"></h4>
        <p class="chat_modal_members_count" ng-if="chatFull.chat.participants_count > 0">
          <ng-pluralize count="chatFull.chat.participants_count"
                           when="{'0': 'No members', 'one': '1 member', 'other': '{} members'}">
          </ng-pluralize>
        </p>

        <div class="chat_modal_actions_wrap clearfix">

          <button ng-if="!chatFull.chat.left &amp;&amp; chatFull.participants.participants.length" class="btn btn-primary chat_modal_invite_btn" ng-click="inviteToGroup()">Add member</button>
          <button ng-if="chatFull.chat._ != 'chatForbidden' &amp;&amp; chatFull.chat.left" class="btn btn-primary chat_modal_main_btn" ng-click="returnToGroup()">Return to group</button>
          <button ng-if="chatFull.chat._ == 'chatForbidden'" class="btn btn-danger chat_modal_delete_btn" ng-click="flushHistory()">Delete chat</button>

          <span ng-if="chatFull.chat._ != 'chatForbidden' &amp;&amp; !chatFull.chat.left &amp;&amp; !photo.updating" class="btn btn-primary chat_modal_main_btn" >
            <input my-file-upload  type="file" multiple="false" class="im_attach_input" size="120" multiple="false" accept="image/x-png, image/png, image/gif, image/jpeg" />
            Update photo
          </span>
          <span ng-if="photo.updating" class="btn btn-primary chat_modal_main_btn disabled" disabled>
            Updating<span my-loading-dots></span>
          </span>


          <div class="dropdown chat_modal_other_btn" ng-if="chatFull.chat._ != 'chatForbidden' &amp;&amp; !chatFull.chat.left">
            <button class="btn btn-link dropdown-toggle">More<i class="icon icon-caret"></i></button>
            <ul class="dropdown-menu">
              <li ng-if="chatFull.thumb.location">
                <a ng-click="deletePhoto()">Delete photo</a>
              </li>
              <li>
                <a ng-click="editTitle()">Edit group</a>
              </li>
              <li>
                <a ng-click="leaveGroup()">Leave group</a>
              </li>
              <li>
                <a ng-click="flushHistory()">Delete chat</a>
              </li>
            </ul>
          </div>

        </div>

      </div>
    </div>

    <div class="modal_section">
      <h3 class="modal_section_header">Settings</h3>
      <div class="modal_section_body">

        <div class="tg_form_group">
          <a class="tg_checkbox" ng-click="settings.notifications = !settings.notifications" ng-class="settings.notifications ? 'tg_checkbox_on' : ''">
            <span class="icon icon-checkbox-outer"><i class="icon-checkbox-inner"></i></span>
            <span class="tg_checkbox_label">Notifications</span>
          </a>
        </div>
      </div>
    </div>

    <div class="modal_section">
      <h3 class="modal_section_header">Members</h3>
      <div class="modal_section_body">

        <div class="chat_modal_members_list">

          <div class="chat_modal_participant_wrap clearfix" ng-repeat="participant in chatFull.participants.participants | orderBy:'-user.sortStatus'">
            <a ng-if="participant.canKick" ng-click="kickFromGroup(participant.user_id)"  class="chat_modal_participant_kick pull-right">Kick</a>
            <a ng-click="openUser(participant.user_id)" class="chat_modal_participant_photo pull-left">
              <img
                class="chat_modal_participant_photo"
                my-load-thumb
                thumb="participant.userPhoto"
              />
              <i class="icon status_online" ng-show="participant.user.status._ == 'userStatusOnline'"></i>
            </a>
            <div class="chat_modal_participant_name">
              <a ng-click="openUser(participant.user.id)" ng-bind-html="participant.user.rFullName"></a>
            </div>
            <div class="chat_modal_participant_status">{{participant.user | userStatus}}</div>
          </div>

        </div>

        <div class="chat_modal_members_forbidden" ng-if="chatFull.chat._ == 'chatForbidden' || chatFull.chat.left">
          Group members list is unavailable.
        </div>

      </div>
    </div>

  </div>

</div>