<div class="contacts_modal_wrap" my-modal-position>

  <a class="modal-close-button visible-xs" ng-click="$dismiss()"><i></i></a>

  <div class="modal-body">

    <h4 class="modal_simple_header visible-xs">Contacts</h4>

    <div class="contacts_modal_search">
      <input class="form-control contacts_modal_search_field" my-focused type="search" placeholder="Search" ng-model="search.query"/>
      <a class="contacts_modal_search_clear" ng-click="search.query = ''" ng-show="search.query.length"></a>
    </div>


    <div my-contacts-list class="contacts_modal_col">

      <div class="contacts_wrap nano" my-infinite-scroller>
        <div class="contacts_scrollable_wrap content">

          <ul class="contacts_modal_members_list nav nav-pills nav-stacked">

            <li class="contacts_modal_contact_wrap clearfix" ng-repeat="contact in contacts | orderBy:'user.sortName' | limitTo: slice.limit track by contact.userID" ng-class="{active: selectedContacts[contact.userID], disabled: disabledContacts[contact.userID]}">
              <a class="contacts_modal_contact" ng-click="contactSelect(contact.userID)">

                <i ng-if="multiSelect" class="icon icon-contact-tick"></i>

                <div class="contacts_modal_contact_photo pull-left">
                  <img
                    class="contacts_modal_contact_photo"
                    my-load-thumb
                    thumb="contact.userPhoto"
                  />
                  <i class="icon status_online" ng-show="contact.user.status._ == 'userStatusOnline'"></i>
                </div>

                <div class="contacts_modal_contact_name" ng-bind-html="contact.user.rFullName"></div>
                <div class="contacts_modal_contact_status">{{contact.user | userStatus}}</div>

              </a>
            </li>

          </ul>

        </div>
      </div>

    </div>

  </div>

  <div class="modal-footer contacts_modal_panel" ng-switch="multiSelect">
    <button ng-switch-when="true" class="btn btn-success btn-block" ng-class="{disabled: !selectedCount}" ng-disabled="!selectedCount" ng-click="submitSelected()" type="submit">
      Next »
    </button>
    <div ng-switch-default>
      <a class="btn btn-link pull-left" ng-click="importContact()">Add contact</a>
      <button type="button" class="btn btn-primary" ng-click="$dismiss()">Done</button>
    </div>
  </div>

</div>