<a class="im_dialog" ng-click="dialogSelect(dialogMessage.peerString)">

  <div class="im_dialog_meta pull-right text-right">
    <div class="im_dialog_date">
      {{dialogMessage.date | dateOrTime}}
    </div>
    <span
      class="im_dialog_badge badge"
      ng-show="dialogMessage.unreadCount > 0"
      ng-bind="dialogMessage.unreadCount"
    ></span>
    <i
      class="im_dialog_unread"
      ng-show="dialogMessage.out &amp;&amp; dialogMessage.unread"
    ></i>
  </div>

  <div class="im_dialog_photo pull-left">
    <img
      class="im_dialog_photo"
      my-load-thumb
      thumb="dialogMessage.peerPhoto"
    />
  </div>

  <div class="im_dialog_message_wrap">

    <div class="im_dialog_peer">
      <span class="im_dialog_chat" ng-if="dialogMessage.chatID">
        <i class="icon icon-group"></i> <span  ng-bind-html="dialogMessage.peerData.rTitle"></span>
      </span>
      <span class="im_dialog_user" ng-if="dialogMessage.peerID > 0" ng-bind-html="dialogMessage.peerData.rFullName"></span>
    </div>

    <div class="im_dialog_message">
      <span class="im_dialog_chat_from_wrap">
        <span
          class="im_dialog_chat_from"
          ng-if="!dialogMessage.out &amp;&amp; dialogMessage.chatID"
          ng-bind-html="dialogMessage.fromUser.rFirstName"
        ></span><span
          class="im_dialog_chat_from"
          ng-if="dialogMessage.out"
          data-l20n="dlg_from_you"
        ></span>{{((dialogMessage.out || dialogMessage.peerID &lt; 0) &amp;&amp; (dialogMessage.message.length || dialogMessage.media &amp;&amp; dialogMessage.media._ != 'messageMediaEmpty')) ? ':' : ''}}
      </span>

      <span class="im_dialog_message_media" ng-if="dialogMessage.media &amp;&amp; dialogMessage.media._ != 'messageMediaEmpty'" ng-switch="dialogMessage.media._">
        <span ng-switch-when="messageMediaPhoto" data-l20n="dlg_attachment_photo"></span>
        <span ng-switch-when="messageMediaVideo" data-l20n="dlg_attachment_video"></span>
        <span ng-switch-when="messageMediaDocument" data-l20n="dlg_attachment_document"></span>
        <span ng-switch-when="messageMediaAudio" data-l20n="dlg_attachment_audio"></span>
        <span ng-switch-when="messageMediaGeo" data-l20n="dlg_attachment_location"></span>
        <span ng-switch-when="messageMediaContact" data-l20n="dlg_attachment_contact"></span>
      </span>

      <span class="im_dialog_message_service" ng-if="dialogMessage._ == 'messageService'" ng-switch="dialogMessage.action._">
        <span ng-switch-when="messageActionChatCreate" data-l20n="dlg_created_group"></span>
        <span ng-switch-when="messageActionChatEditTitle" data-l20n="dlg_edited_group_title"></span>
        <span ng-switch-when="messageActionChatEditPhoto" data-l20n="dlg_edited_group_photo"></span>
        <span ng-switch-when="messageActionChatDeletePhoto" data-l20n="dlg_removed_group_photo"></span>

        <span ng-switch-when="messageActionChatAddUser">
          <span ng-if="dialogMessage.from_id != dialogMessage.action.user_id" data-l20n="dlg_invited_user_to_group">
            <span ng-bind-html="dialogMessage.action.user.rFullName"></span>
          </span>
          <span ng-if="dialogMessage.from_id == dialogMessage.action.user_id" data-l20n="dlg_returned_to_group"></span>
        </span>

        <span ng-switch-when="messageActionChatDeleteUser">
          <span ng-if="dialogMessage.from_id != dialogMessage.action.user_id" data-l20n="dlg_kicked_user_from_group">
            <span ng-bind-html="dialogMessage.action.user.rFullName"></span>
          </span>
          <span ng-if="dialogMessage.from_id == dialogMessage.action.user_id"  data-l20n="dlg_left_group"></span>
        </span>
      </span>

      <span class="im_dialog_message_text" ng-if="dialogMessage.message.length" ng-bind-html="dialogMessage.richMessage"></span>
    </div>

  </div>
</a>
