<div class="tg_page_head">
  <div class="navbar navbar-static-top  navbar-inverse" role="navigation">
    <div class="container" ng-init="navbarCollapsed = true">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{isLoggedIn ? '#/im' : '#/'}}"><span class="tg_head_logo"></span><span class="tg_head_logo_text"></span></a>
        <ul class="nav navbar-nav navbar-quick-nav" ng-show="curDialog.peer">
          <li>
            <a href="#/im">
              <i class="icon icon-back"></i> Back
            </a>
          </li>
        </ul>
      </div>


      <div class="navbar-collapse" collapse="navbarCollapsed">

        <ul ng-if="offline" class="nav navbar-nav navbar-offline">
          <li ng-show="!offlineConnecting"><span class="navbar-offline-text">Waiting for network<span my-typing-dots></span></span></li>
          <li ng-show="!offlineConnecting"><a href="" ng-click="retryOnline()">Retry</a></li>
          <li ng-show="offlineConnecting"><span class="navbar-offline-text">Connecting<span my-typing-dots></span></span></li>
        </ul>

        <ul ng-if="!offline" class="nav navbar-nav navbar-right">
          <li ng-if="isLoggedIn"><a href="" ng-click="openGroup()">New Chat</a></li>
          <li ng-if="isLoggedIn"><a href="" ng-click="openContacts()">Contacts</a></li>
          <li ng-if="isLoggedIn"><a href="" ng-click="openSettings()">Settings</a></li>
          <li><a  href="https://github.com/zhukov/webogram" target="_blank">About</a></li>
        </ul>

      </div>
    </div>
  </div>
</div>