<div class="import_modal_wrap" my-modal-position>

  <a class="modal-close-button" ng-click="$dismiss()"><i></i></a>

  <div class="modal-body">

    <form class="modal_simple_form" ng-submit="doImport()">

      <h4 my-i18n="contact_import_modal_title"></h4>

      <div class="form-group">
        <input class="form-control input-sm" my-focused type="text" placeholder="{{'contact_import_modal_phone' | i18n}}" ng-model="importContact.phone"/>
      </div>
      <div class="form-group">
        <input class="form-control input-sm" type="text" placeholder="{{'contact_edit_modal_first_name' | i18n}}" ng-model="importContact.first_name"/>
      </div>
      <div class="form-group">
        <input class="form-control input-sm" type="text" placeholder="{{'contact_edit_modal_last_name' | i18n}}" ng-model="importContact.last_name"/>
      </div>

    </form>

  </div>

  <div class="modal-footer">
    <a class="btn btn-link pull-left" ng-if="phonebookAvailable" ng-click="importPhonebook()" my-i18n="contact_import_modal_phonebook"></a>
    <a class="btn btn-link" ng-click="$dismiss()" my-i18n="modal_cancel"></a>
    <button class="btn btn-primary" ng-class="{disabled: progress.enabled}" ng-click="doImport()" ng-bind="progress.enabled ? 'contact_import_modal_submit_active' : 'contact_import_modal_submit' | i18n" ng-disabled="progress.enabled"></button>
  </div>

</div>
