<div ng-include="'partials/head.html'"></div>


<div class="login_form_wrap" my-vertical-position="0.4">
  <div class="error" ng-if="error.message" ng-bind="error.message"></div>

  <form name="mySendCodeForm" ng-if="!credentials.phone_code_hash" ng-submit="sendCode()">
    <h3 class="login_form_head">Sign in</h3>
    <p class="login_form_lead">Please choose your country and enter your full phone number.</p>

    <div class="login_country_selector" ng-click="selectCountry()">
      <span ng-bind="credentials.phone_country_name"></span>
      <i class="icon icon-caret pull-right"></i>
    </div>

    <div class="form-group" ng-class="{'has-error': error.field == 'phone'}">
      <label class="control-label" ng-if="error.field == 'phone'">Incorrect phone number</label>
      <div class="clearfix">
        <input type="tel" autocomplete="off" class="form-control pull-left login_phone_country" my-focused name="phone_country" ng-model="credentials.phone_country">
        <input type="tel" autocomplete="off" class="form-control pull-left login_phone_number" my-focus-on="country_selected" name="phone_number" ng-model="credentials.phone_number" placeholder="Enter your phone" required>
      </div>
    </div>
    <button class="btn btn-primary btn-block" ng-class="{disabled: progress.enabled}" ng-disabled="progress.enabled" type="submit" ng-switch="progress.enabled">
      <span ng-switch-when="true">Generating keys<span my-loading-dots></span></span>
      <span ng-switch-default>Next</span>
    </button>
  </form>

  <form name="myLoginForm" ng-if="credentials.phone_code_hash &amp;&amp; !credentials.phone_code_valid" ng-submit="logIn()">
    <h3 class="login_form_head"><span ng-bind="credentials.phone_country"></span> <span ng-bind="credentials.phone_number"></span></h3>
    <div class="login_edit_phone"><a ng-click="editPhone()">Edit phone number</a></div>
    <p class="login_form_lead">We have sent you a code via SMS.<br/>Please enter it below.</p>

    <p class="login_form_lead">
      <span ng-show="callPending.remaining > 0">Telegram will call you in {{callPending.remaining | duration}}</span>
      <span ng-show="!callPending.remaining &amp;&amp; !callPending.success">Telegram is calling you</span>
      <span ng-show="!callPending.remaining &amp;&amp; callPending.success">Telegram dialed your number</span>
    </p>

    <div class="form-group" ng-class="{'has-error': error.field == 'phone_code'}">
      <label class="control-label" for="phone_code" ng-if="error.field == 'phone_code'">Incorrect SMS code</label>
      <input type="number" my-focused maxlength="5" class="form-control" name="phone_code" ng-model="credentials.phone_code" placeholder="Enter your code" autocomplete="off" required>
    </div>

    <button class="btn btn-primary btn-block" type="submit" ng-class="{disabled: progress.enabled}" ng-disabled="progress.enabled" ng-switch="progress.enabled">
      <span ng-switch-when="true">Checking code<span my-loading-dots></span></span>
      <span ng-switch-default>Next</span>
    </button>
  </form>

  <form name="myFullNameForm" ng-if="credentials.phone_code_valid &amp;&amp; credentials.phone_unoccupied" ng-submit="logIn(true)">
    <h3 class="login_form_head">Your info</h3>
    <p class="login_form_lead">Please enter your full name to set up a Telegram account.</p>

    <div class="form-group login_first_name_wrap" ng-class="{'has-error': error.field == 'first_name'}">
      <label class="control-label" for="first_name" ng-if="error.field == 'first_name'">Incorrect first name</label>
      <input my-focused class="form-control" name="first_name" ng-model="credentials.first_name" placeholder="First name" autocomplete="off" required>
    </div>

    <div class="form-group" ng-class="{'has-error': error.field == 'last_name'}">
      <label class="control-label" for="last_name" ng-if="error.field == 'last_name'">Incorrect last name</label>
      <input class="form-control" name="last_name" ng-model="credentials.last_name" placeholder="Last name" autocomplete="off">
    </div>

    <button class="btn btn-primary btn-block" ng-class="{disabled: progress.enabled}" ng-disabled="progress.enabled" type="submit" ng-switch="progress.enabled">
      <span ng-switch-when="true">Signing up<span my-loading-dots></span></span>
      <span ng-switch-default>Sign up</span>
    </button>
  </form>

</div>
