<div class="settings_modal_wrap">

  <div class="modal-header">
    <h4 class="modal-title">Settings</h4>
  </div>

  <div class="modal-body">

    <form name="profileForm" class="settings_profile_edit_form clearfix">
      <div class="form-group settings_profile_first_name" ng-class="{'has-error': error.field == 'first_name'}">
        <label class="control-label" for="first_name">
          <span ng-if="error.field == 'first_name'">Invalid First Name</span>
          <span ng-if="error.field != 'first_name'">First Name</span>
        </label>
        <input type="text" class="form-control" name="first_name" ng-model="profile.first_name" required />
      </div>

      <div class="form-group settings_profile_last_name" ng-class="{'has-error': error.field == 'last_name'}">
        <label class="control-label" for="last_name">
          <span ng-if="error.field == 'last_name'">Invalid Last Name</span>
          <span ng-if="error.field != 'last_name'">Last Name</span>
        </label>
        <input type="text" class="form-control" name="last_name" ng-model="profile.last_name" />
      </div>

      <div class="settings_profile_save">
        <button class="btn btn-link settings_profile_save_btn" ng-click="save(profileForm)" ng-disabled="profileForm.$invalid || (!profileForm.last_name.$dirty &amp;&amp; !profileForm.first_name.$dirty)">Save</button>
      </div>
    </form>

    <form class="settings_send_choose_form">
      <div class="radio">
        <label>
          <input type="radio" value="1" ng-model="send.enter">
          <strong>Enter</strong> - send message, <strong>Shift + Enter</strong> - new line
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" value="" ng-model="send.enter">
          <strong>Ctrl + Enter</strong> - send message, <strong>Enter</strong> - new line
        </label>
      </div>
    </form>

    <p>
      <strong>Sound: </strong>
      <a ng-click="notify.sound = !notify.sound">{{notify.sound ? 'ON' : 'OFF'}}</a>
    </p>

    <p>
      <strong>Desktop Notifications: </strong>
      <a ng-click="notify.desktop = !notify.desktop">{{notify.desktop ? 'ON' : 'OFF'}}</a>
    </p>

    <p>
      <strong>User: </strong>
      <span class="settings_user_phone">{{phone | phoneNumber}}</span>
    </p>

    <p>
      <strong>Version: </strong>
      <span class="settings_version">alpha 0.0.13</span>
    </p>

    <hr/>

    <div class="settings_logout_wrap">
      <a href="" ng-click="logOut()">Log out</a>
    </div>
  </div>
</div>