<div class="changelog_modal_wrap">

  <a class="modal-close-button" ng-click="$close()"><i></i></a>

  <div class="modal-body">

    <div class="changelog_card_wrap" ng-switch="lastVersion === false">
      <div ng-switch-when="true">
        <div class="changelog_card"></div>
        <h2 class="changelog_header" my-i18n="changelog_modal_header_recent_updates_md"></h2>
      </div>
      <div ng-switch-default>
        <div class="changelog_card"></div>
        <h2 class="changelog_header" my-i18n="changelog_modal_header_new_updates_md"></h2>
      </div>
    </div>

    <div class="changelog_versions_wrap">

      <div class="modal_section changelog_version_wrap">
        <h3 class="modal_section_header changelog_version_title">
          Version 0.3.2
          <span class="pull-right" my-i18n="changelog_modal_title_current_version"></span>
        </h3>
        <div class="modal_section_body changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Usernames support: <a href="" ng-click="changeUsername">Choose a username right now!</a></li>
            <li>Search can now find public users by username.</li>
            <li>Most popular emoticons shown in 'recent' when empty</li>
            <li>Bugfixes</li>
          </ul>
        </div>
      </div>

      <div class="modal_section changelog_version_wrap">
        <h3 class="modal_section_header changelog_version_title">
          Version 0.3.1
        </h3>
        <div class="modal_section_body changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>New languages: Spanish, German and Italian are now available </li>
            <li>New custom-made audio player</li>
            <li>Bad browser page for IE 6-9</li>
            <li>Perfomance improvements and bugfixes</li>
          </ul>
        </div>
      </div>

      <div class="modal_section changelog_version_wrap">
        <h3 class="modal_section_header changelog_version_title">
          Version 0.3.0
        </h3>
        <div class="modal_section_body changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Log in codes may be received in other Telegram apps</li>
            <li>Partner's online status updates automatically</li>
            <li>Added support for non-english hashtags in messages</li>
            <li>Fixed invalid scrollbar width bug</li>
            <li>[Desktop] Added automatic country code detection</li>
            <li>[FirefoxOS] Improved PUSH-notifications for &lt;= 1.1</li>
            <li>[FirefoxOS] Fixed emoji in notifications</li>
            <li>[FirefoxOS] Fixed attachment bug for &lt;= 1.1</li>
            <li>[FirefoxOS] Added phonebook permissions handling</li>
            <li>[FirefoxOS] Added ability to share Gallery photos in Telegram</li>
          </ul>
        </div>
      </div>

      <div class="modal_section changelog_version_wrap">
        <h3 class="modal_section_header changelog_version_title">
          Version 0.2.9
        </h3>
        <div class="modal_section_body changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Updated mobile layout</li>
            <li>Bugfixes</li>
          </ul>
        </div>
      </div>

      <div class="modal_section changelog_version_wrap">
        <h3 class="modal_section_header changelog_version_title">
          Version 0.2.5
        </h3>
        <div class="modal_section_body changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Updated mobile layout</li>
            <li>Improved performance</li>
            <li>Improved messages grouping</li>
            <li>[FirefoxOS] Fixed notifications for &lt;= 1.1</li>
            <li>[FirefoxOS] Fixed phonebook import</li>
          </ul>
        </div>
      </div>

      <div class="modal_section changelog_version_wrap">
        <h3 class="modal_section_header changelog_version_title">
          Version 0.2.1
        </h3>
        <div class="modal_section_body changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Improved key generation performance on slow devices</li>
            <li>Added network sleep for mobile devices</li>
            <li>[FirefoxOS] Added support of PUSH notifications</li>
          </ul>
        </div>
      </div>

      <div class="modal_section changelog_version_wrap">
        <h3 class="modal_section_header changelog_version_title">
          Version 0.2
        </h3>
        <div class="modal_section_body changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Updated contacts list, added edit mode</li>
            <li>First Firefox OS release. See <a href="https://marketplace.firefox.com/app/telegram" target="_blank">Firefox Marketplace</a></li>
          </ul>
        </div>
      </div>

      <div class="modal_section changelog_version_wrap" ng-show="canShowVersion('0.1.9')">
        <h3 class="modal_section_header changelog_version_title">
          Version 0.1.9
        </h3>
        <div class="modal_section_body changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Improvements of performance</li>
            <li>Bugfixes</li>
          </ul>
        </div>
      </div>

      <div class="modal_section changelog_version_wrap" ng-show="canShowVersion('0.1.8')">
        <h3 class="modal_section_header changelog_version_title">
          Version 0.1.8
        </h3>
        <div class="modal_section_body changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Improved mobile layout</li>
            <li>Bugfixes</li>
          </ul>
        </div>
      </div>

      <div class="modal_section changelog_version_wrap" ng-show="canShowVersion('0.1.7')">
        <h3 class="modal_section_header changelog_version_title">
          Version 0.1.7
        </h3>
        <div class="modal_section_body changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Improved mobile layout</li>
            <li>Added file cache for Firefox and Android</li>
            <li>New design for forwarded messages</li>
            <li>Hash-tags support</li>
            <li>Messaging bugfixes</li>
          </ul>
        </div>
      </div>

      <div class="modal_section changelog_version_wrap" ng-show="canShowVersion('0.1.6')">
        <h3 class="modal_section_header changelog_version_title">
          Version 0.1.6
        </h3>
        <div class="modal_section_body changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Added search of messages</li>
            <li>Improved performance of chats with lots of unread messages</li>
            <li>Bugfixes</li>
          </ul>
        </div>
      </div>

      <div class="modal_section changelog_version_wrap" ng-show="canShowVersion('0.1.5')">
        <h3 class="modal_section_header changelog_version_title">
          Version 0.1.5
        </h3>
        <div class="modal_section_body changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Added registration</li>
            <li>Improved experience for newly registered users</li>
          </ul>
        </div>
      </div>

      <div class="modal_section changelog_version_wrap" ng-show="canShowVersion('0.1.4')">
        <h3 class="modal_section_header changelog_version_title">
          Version 0.1.4
        </h3>
        <div class="modal_section_body changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Browse userpic history (click on the photo in user info)</li>
            <li>New <a href="https://github.com/zhukov/webogram" target="_blank" title="Source code on GitHub">GitHub</a>, <a href="https://twitter.com/telegram_web" target="_blank" title="Follow us on Twitter!">Twitter</a> buttons in Settings</li>
            <li>Updated keyboard shortcuts:</li>
            <ul>
              <li><strong>Alt+Home</strong> - switch to first (most recent) conversation</li>
              <li>Removed <strong>Alt+1, 2, 3..</strong> shortcuts due to conflicts in different browsers</li>
            </ul>
          </ul>
        </div>
      </div>

      <div class="modal_section changelog_version_wrap" ng-show="canShowVersion('0.1.3')">
        <h3 class="modal_section_header changelog_version_title">
          Version 0.1.3
        </h3>
        <div class="modal_section_body changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Added version history to welcome screen</li>
            <li>Added keyboard shortcuts:</li>
            <ul>
              <li><strong>Tab</strong> - set focus to message field</li>
              <li><strong>Esc</strong> or <strong>Shift+Tab</strong> - set focus to search field</li>
              <li><strong>Up/Down</strong> (while in search field) - move between conversations</li>
              <li><strong>Enter</strong> (while in search field) - open selected or first conversation</li>
              <li><strong>Alt+Up/Down</strong> - move to previous/next conversation</li>
            </ul>
            <li>Improved grouping for messages</li>
            <li>Fixed video modal positioning bug</li>
            <li>Fixed focusing issues on mobile</li>
          </ul>
        </div>
      </div>

    </div>

  </div>

</div>
