<div class="contacts_modal_wrap">
  <app-header>
    <app-toolbar>
      <paper-icon-button ng-click="$dismiss()" icon="close"></paper-icon-button>

      <div main-title my-i18n="group_edit_modal_title"></div>

      <paper-button ng-click="updateGroup()" ng-bind="group.updating ? 'group_edit_submit_active' : 'group_edit_submit' | i18n" ng-disabled="group.updating"></paper-button>
    </app-toolbar>
  </app-header>

  <div class="modal-body">

    <form class="modal_simple_form" ng-submit="updateGroup()" my-vertical-position="0.25">

      <div class="form-group">
        <input class="form-control input-lg" my-focused type="text" placeholder="{{'group_edit_name' | i18n}}" ng-model="group.name"/>
      </div>

    </form>

  </div>

</div>
