<div class="chat_modal_wrap">

  <div class="tg_page_head tg_modal_head">
    <div class="navbar navbar-static-top navbar-inverse">
      <div class="container">

        <div class="navbar-toggle-wrap dropdown" ng-if="chatFull.chat._ != 'chatForbidden' &amp;&amp; !chatFull.chat.left">
          <a class="dropdown-toggle navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <ul class="dropdown-menu">
            <li ng-if="chatFull.thumb.location">
              <a ng-click="deletePhoto()" my-i18n="group_modal_menu_delete_photo"></a>
            </li>
            <li>
              <a ng-click="editTitle()" my-i18n="group_modal_menu_edit_group"></a>
            </li>
            <li>
              <a ng-click="leaveGroup()" my-i18n="group_modal_menu_leave_group"></a>
            </li>
            <li>
              <a ng-click="flushHistory()" my-i18n="group_modal_menu_delete_chat"></a>
            </li>
          </ul>
        </div>

        <div class="navbar-header">

          <ul class="nav navbar-nav navbar-quick-nav">
            <li>
              <a ng-click="$close()" class="navbar-quick-media-back">
                <i class="icon icon-back"></i>
                <div class="navbar-quick-back-title">
                  <h4 my-i18n="group_modal_info"></h4>
                </div>
              </a>
            </li>
          </ul>

        </div>

      </div>
    </div>
  </div>

  <div class="modal-body mobile_modal_body">

    <div class="mobile_user_modal_photo_profile_wrap">

      <img
        class="mobile_user_modal_image mobile_chat_modal_image"
        my-load-thumb
        watch="true"
        thumb="chatFull.thumb"
      />

      <div class="mobile_user_modal_info_wrap clearfix">
        <h4 class="mobile_user_modal_header" ng-bind-html="chatFull.chat.rTitle"></h4>
        <p class="mobile_user_modal_status"  ng-if="chatFull.chat.participants_count > 0">
          <ng-pluralize count="chatFull.chat.participants_count"
                           when="group_modal_pluralize_participants">
          </ng-pluralize>
        </p>
      </div>

    </div>

    <div class="mobile_modal_action_wrap" ng-if="!chatFull.chat.left &amp;&amp; chatFull.participants.participants.length">
      <a class="mobile_modal_action" ng-click="inviteToGroup()" my-i18n="group_modal_add_member"></a>
    </div>
    <div class="mobile_modal_action_wrap" ng-if="chatFull.chat._ != 'chatForbidden' &amp;&amp; chatFull.chat.left">
      <a class="mobile_modal_action" ng-click="returnToGroup()" my-i18n="group_modal_return"></a>
    </div>
    <div class="mobile_modal_action_wrap" ng-if="chatFull.chat._ == 'chatForbidden'">
      <a class="mobile_modal_action" ng-click="flushHistory()" my-i18n="group_modal_return"></a>
    </div>
    <div class="mobile_modal_action_wrap" ng-if="chatFull.chat._ != 'chatForbidden' &amp;&amp; !chatFull.chat.left &amp;&amp; !photo.updating">
      <span class="mobile_modal_action mobile_modal_upload_action">
        <input my-file-upload  type="file" multiple="false" class="im_attach_input" size="120" multiple="false" accept="image/x-png, image/png, image/gif, image/jpeg" />
        <my-i18n="group_modal_update_photo"></my-i18n>
      </span>
    </div>
    <div class="mobile_modal_action_wrap" ng-if="photo.updating">
      <span class="mobile_modal_action" my-i18n>
        <my-i18n="group_modal_update_active"></my-i18n>
        <span my-loading-dots></span>
      </span>
    </div>

    <div class="mobile_modal_action_wrap">
      <a class="mobile_modal_action tg_checkbox clearfix" ng-click="settings.notifications = !settings.notifications" ng-class="settings.notifications ? 'tg_checkbox_on' : ''">
        <span class="icon icon-checkbox-outer"><i class="icon-checkbox-inner"></i></span>
        <span class="tg_checkbox_label" my-i18n="group_modal_notifications"></span>
      </a>
    </div>

    <div class="mobile_modal_section">
      <h4 class="mobile_modal_section_header" my-i18n="group_modal_members"></h4>
      <div class="mobile_modal_section_body">

        <div class="chat_modal_members_list">

          <div class="chat_modal_participant_wrap clearfix" ng-repeat="participant in chatFull.participants.participants | orderBy:'-user.sortStatus'">
            <a ng-if="participant.canKick" ng-click="kickFromGroup(participant.user_id)"  class="chat_modal_participant_kick pull-right" my-i18n="group_modal_members_kick"></a>

            <a class="chat_modal_participant_photo pull-left" my-user-photolink="participant.user_id" img-class="chat_modal_participant_photo" status="true"></a>

            <div class="chat_modal_participant_name">
              <a my-user-link="participant.user_id"></a>
            </div>
            <div class="chat_modal_participant_status" my-user-status="::participant.user_id"></div>
          </div>

        </div>

        <div class="chat_modal_members_forbidden" ng-if="chatFull.chat._ == 'chatForbidden' || chatFull.chat.left" my-i18n="group_modal_members_unavailable"></div>

      </div>
    </div>

  </div>

</div>
