<div class="contacts_modal_wrap">

  <app-header>
    <app-toolbar>
      <paper-icon-button ng-if="!action" ng-click="$dismiss()" icon="arrow-back"></paper-icon-button>
      <paper-icon-button ng-if="action === 'edit'" ng-click="toggleEdit(false)" icon="close"></paper-icon-button>
      <paper-icon-button ng-if="action === 'new_group'" ng-click="$dismiss()" icon="close"></paper-icon-button>

      <ng-switch main-title on="selectedCount > 0" ng-if="action == 'new_group'">
        <div ng-switch-when="true">
          <ng-pluralize count="selectedCount" when="contacts_modal_pluralize_new_group_members">
          </ng-pluralize>
        </div>
        <div main-title ng-switch-default my-i18n="group_create_contacts_modal_title"></div>
      </ng-switch>

      <div main-title ng-if="!action" my-i18n="contacts_modal_title"></div>

      <paper-menu-button ng-if="!action" horizontal-align="right">
          <paper-icon-button icon="more-vert" slot="dropdown-trigger"></paper-icon-button>

          <paper-listbox slot="dropdown-content">
              <paper-item ng-click="toggleEdit(true)" my-i18n="contacts_modal_edit_list"></paper-item>
              <paper-item ng-click="importContact()" my-i18n="contacts_modal_new_contact"></paper-item>
          </paper-listbox>
      </paper-menu-button>

      <paper-button ng-if="action == 'edit'" ng-disabled="!selectedCount" ng-click="deleteSelected()">
        <span>
          <my-i18n msgid="contacts_modal_edit_delete"></my-i18n>
          <strong ng-bind="selectedCount"></strong>
        </span>
      </paper-button>

      <paper-button ng-if="action == 'new_group' || acction == 'select1'" ng-click="submitSelected()" ng-disabled="!selectedCount" my-i18n="modal_next"></paper-button>

    </app-toolbar>
  </app-header>

  <div class="modal-body mobile_modal_body">

    <div class="contacts_modal_search">
      <input class="form-control contacts_modal_search_field no_outline" my-focused type="search" placeholder="{{'modal_search' | i18n}}" ng-model="search.query"/>
      <a class="im_dialogs_search_clear tg_search_clear" ng-click="search.query = ''" ng-show="search.query.length">
        <i class="icon icon-search-clear"></i>
      </a>
    </div>


    <div class="contacts_modal_col contacts_wrap contacts_scrollable_wrap mobile_scrollable_wrap" my-contacts-list-mobile my-infinite-scroller-mobile>
      <ul class="contacts_modal_members_list nav nav-pills nav-stacked">

        <li class="contacts_modal_contact_wrap clearfix" ng-repeat="contact in contacts | limitTo: slice.limit track by contact.userID" ng-class="{active: selectedContacts[contact.userID], disabled: disabledContacts[contact.userID]}">
          <a class="contacts_modal_contact" ng-click="contactSelect(contact.userID)">

            <i ng-if="multiSelect" class="icon icon-contact-tick"></i>

            <div class="contacts_modal_contact_photo pull-left" my-peer-photolink="contact.userID" status="true" img-class="contacts_modal_contact_photo"></div>
            <div class="contacts_modal_contact_name" my-peer-link="contact.userID"></div>
            <div class="contacts_modal_contact_status" ng-switch="contact.found">
              <span ng-switch-when="true" ng-bind="'@' + contact.user.username"></span>
              <span ng-switch-default my-user-status="::contact.userID"></span>
            </div>
          </a>
        </li>

      </ul>
    </div>

  </div>

</div>
