<div class="countries_modal_wrap">

  <app-header>
    <app-toolbar>
      <paper-icon-button ng-click="$dismiss()" icon="close"></paper-icon-button>

      <div main-title my-i18n="country_select_modal_title"></div>
    </app-toolbar>
  </app-header>

  <div class="modal-body mobile_modal_body">

    <div class="countries_modal_search">
      <input class="form-control countries_modal_search_field no_outline" my-focused type="search" placeholder="{{'modal_search' | i18n}}" ng-model="search.query"/>
      <a class="countries_modal_search_clear tg_search_clear" ng-click="search.query = ''" ng-show="search.query.length">
        <i class="icon icon-search-clear"></i>
      </a>
    </div>

    <div class="countries_modal_col countries_wrap countries_scrollable_wrap mobile_scrollable_wrap" my-countries-list-mobile my-infinite-scroller-mobile>
      <ul class="countries_modal_members_list nav nav-pills nav-stacked">

        <li class="countries_modal_country_wrap clearfix" ng-repeat="country in countries | limitTo : slice.limit track by $index">
          <a class="countries_modal_country" ng-click="$close(country)">
            <span class="countries_modal_country_code pull-right" ng-bind="country.code"></span>
            <span class="countries_modal_country_name" ng-bind="country.name"></span>
          </a>
        </li>

      </ul>
    </div>

  </div>

</div>
