<div class="import_modal_wrap">

  <app-header>
    <app-toolbar>
      <paper-icon-button ng-click="$close()" icon="close"></paper-icon-button>

      <div main-title my-i18n="contact_edit_modal_title"></div>

      <paper-button ng-click="doImport()" ng-bind="progress.enabled ? 'contact_edit_modal_submit_active' : 'contact_edit_modal_submit'| i18n" ng-disabled="progress.enabled"></paper-button>
    </app-toolbar>
  </app-header>

  <div class="modal-body">

    <form class="modal_simple_form" ng-submit="doImport()" my-vertical-position="0.3">

      <div class="form-group">
        <span class="form-control uneditable_input input-lg disabled" disabled my-focused type="text" ng-bind="importContact.phone | phoneNumber"></span>
      </div>
      <div class="form-group">
        <input class="form-control input-lg" type="text" placeholder="{{'contact_edit_modal_first_name' | i18n}}" ng-model="importContact.first_name" my-submit-on-enter/>
      </div>
      <div class="form-group">
        <input class="form-control input-lg" type="text" placeholder="{{'contact_edit_modal_last_name' | i18n}}" ng-model="importContact.last_name" my-submit-on-enter/>
      </div>

    </form>

  </div>

</div>
