<a class="img_gif_with_progress_wrap" ng-click="toggle($event)">

  <div class="img_gif_image_wrap">

    <div class="img_gif_meta" ng-show="!isActive || needClick" ng-switch="document.progress.enabled">
      <div ng-switch-when="true" class="img_gif_meta_contents">
        <i class="icon icon-cancel">
          <i class="icon icon-bar"></i>
          <i class="icon icon-bar"></i>
        </i>
        <div my-arc-progress="document.progress.percent"></div>
      </div>
      <div ng-switch-default class="img_gif_label noselect img_gif_meta_contents">GIF</div>
    </div>

    <div ng-if="document.url" ng-show="document.downloaded &amp;&amp; isActive" ng-switch="document.mime_type == 'video/mp4'">
      <video ng-switch-when="true" width="{{document.thumb.width}}" height="{{document.thumb.height}}" controls loop muted class="img_gif_video">
        <source ng-src="{{document.url}}" type="video/mp4">
      </video>
      <img ng-switch-default class="img_gif_image" ng-src="{{document.url}}" width="{{document.thumb.width}}" height="{{document.thumb.height}}" />
    </div>
    <img ng-hide="document.downloaded &amp;&amp; isActive" class="img_gif_thumb" my-load-thumb thumb="document.thumb" />

  </div>

</a>