<div class="img_fullsize_with_progress_wrap" ng-style="{width: video.full.width + 'px', height: video.full.height + 'px'}">
  <div class="img_fullsize_progress_overlay" ng-show="progress.enabled">
    <div class="img_fullsize_progress_wrap" ng-style="{width: video.full.width + 'px', height: video.full.height + 'px'}">
      <div class="img_fullsize_progress progress tg_progress">
        <div class="progress-bar progress-bar-success" style="width: {{progress.percent}}%"></div>
      </div>
    </div>
  </div>
  <div class="img_fullsize_wrap" ng-if="!player.src">
    <img
      class="img_fullsize"
      my-load-thumb
      thumb="video.fullThumb"
    />
  </div>
  <div class="video_full_player" ng-if="player.src">
    <embed ng-src="{{player.src}}" width="{{video.full.width}}" height="{{video.full.height}}" autoplay="true" CONTROLLER="TRUE" SHOWCONTROLS="TRUE" controller="true" loop="false" pluginspace="http://www.apple.com/quicktime/" ng-if="player.quicktime"/>
    <video width="{{video.full.width}}" height="{{video.full.height}}" controls autoplay  ng-if="!player.quicktime">
      <source ng-src="{{player.src}}" type="video/mp4">
    </video>
  </div>
  <div class="video_full_error_wrap" ng-if="error">
    <div class="video_full_error" ng-if="error.html" ng-bind-html="error.html"></div>
    <div class="video_full_error" ng-if="error.text" ng-bind="error.text"></div>
  </div>
</div>