<div class="game_modal_wrap">
  <app-header class="tg_modal_head">
    <app-toolbar>
      <paper-icon-button ng-click="$close()" icon="arrow-back"></paper-icon-button>

      <div main-title ng-bind-html="game.rTitle">
        <small>@<span my-peer-link="botID"></span></small>
      </div>

      <paper-menu-button horizontal-align="right">
          <paper-icon-button icon="more-vert" slot="dropdown-trigger"></paper-icon-button>

          <paper-listbox slot="dropdown-content">
              <paper-item ng-click="forward()" my-i18n="game_modal_share_game"></paper-item>
              <paper-item ng-click="forward(true)" my-i18n="game_modal_share_score"></paper-item>
          </paper-listbox>
      </paper-menu-button>
    </app-toolbar>
  </app-header>

  <div class="modal-body mobile_modal_body" ng-bind-html="game.full.html" my-game-communication></div>

</div>
