<app-toolbar role="navigation" ng-if="!curDialog.peer" ng-class="{navbar_peer_not_selected: !curDialog.peer, navbar_offline: offline, navbar_history_select: historyState.selectActions}">
  <paper-menu-button ng-switch="!curDialog.peer">
    <paper-icon-button icon="menu" slot="dropdown-trigger"></paper-icon-button>
    <paper-listbox ng-switch-when="true" slot="dropdown-content">
      <paper-item ng-click="openGroup()" my-i18n="head_new_group"></paper-item>
      <paper-item ng-click="importContact()" my-i18n="head_new_contact"></paper-item>
      <paper-item ng-if="!isEmpty.contacts" ng-click="openContacts()" my-i18n="head_contacts"></paper-item>
      <paper-item ng-click="openSettings()" my-i18n="head_settings"></paper-item>
      <paper-item ng-click="logOut()" my-i18n="head_log_out"></paper-item>
    </paper-listbox>
  </paper-menu-button>

  <div class="main-title" main-title>
    <a class="tg_logo_wrap" href="#/im">Telegram</a>
  </div>

  <div main-title ng-if="offline">
    <ul class="nav navbar-nav navbar-offline">
      <li ng-show="!offlineConnecting"><span class="navbar-offline-text"><my-i18n msgid="head_waiting_for_network"></my-i18n><span my-loading-dots></span></span></li>
      <li ng-show="!offlineConnecting" class="hidden-xs"><a href="" ng-click="retryOnline()" my-i18n="head_retry"></a></li>
      <li ng-show="offlineConnecting"><span class="navbar-offline-text"><my-i18n msgid="head_connecting"></my-i18n><span my-loading-dots></span></span></li>
    </ul>
  </div>

  <paper-icon-button icon="search" ng-click="toggleSearch()"></paper-icon-button>
</app-toolbar>

<app-toolbar ng-if="curDialog.peer && historyState.selectActions != selected">
  <a href="#/im">
    <paper-icon-button icon="arrow-back"></paper-icon-button>
  </a>

  <div main-title>
    <a class="navbar-peer-wrap" my-peer-photolink="historyPeer.id" peer-watch="true"></a>
    <div class="navbar-quick-nav navbar-quick-profile-back">
      <div my-peer-link="historyPeer.id" peer-watch="true"></div>
      <small ng-switch="historyState.typing.length">
        <span ng-switch-when="1" class="status_online">
          <my-i18n msgid="head_typing"></my-i18n><span my-loading-dots></span>
        </span>
        <span ng-switch-default my-user-status="historyPeer.id" for-dialog="true"></span>
      </small>
    </div>
  </div>

  <paper-menu-button dynamic-align horizontal-align="right">
      <paper-icon-button icon="more-vert" slot="dropdown-trigger"></paper-icon-button>

      <paper-listbox slot="dropdown-content">
        <paper-item ng-click="toggleEdit()" my-i18n="head_select_messages"></paper-item>
        <hr ng-if="!historyFilter.mediaType" class="divider">
        <paper-item ng-if="!historyFilter.mediaType" ng-click="toggleMedia('photos')" my-i18n="head_media_photos"></paper-item>
        <paper-item ng-if="!historyFilter.mediaType" ng-click="toggleMedia('video')" my-i18n="head_media_video"></paper-item>
        <paper-item ng-if="!historyFilter.mediaType" ng-click="toggleMedia('documents')" my-i18n="head_media_documents"></paper-item>
        <paper-item ng-if="!historyFilter.mediaType" ng-click="toggleMedia('music')" my-i18n="head_media_music"></paper-item>
        <paper-item ng-if="!historyFilter.mediaType" ng-click="toggleMedia('urls')" my-i18n="head_media_links"></paper-item>
        <paper-item ng-if="!historyFilter.mediaType" ng-click="toggleMedia('audio')" my-i18n="head_media_audio"></paper-item>
        <paper-item ng-if="!historyFilter.mediaType" ng-click="toggleMedia('round')" my-i18n="head_media_round"></paper-item>
        <paper-item ng-if="!historyFilter.mediaType && isHistoryPeerGroup()" class="divider"></paper-item>
        <paper-item ng-if="!historyFilter.mediaType && isHistoryPeerGroup()" ng-click="toggleMedia('mentions')" my-i18n="head_media_mymentions"></paper-item>
      </paper-listbox>
  </paper-menu-button>
</app-toolbar>

<app-toolbar ng-if="false" ng-switch="curDialog.peer && historyFilter.mediaType.length > 0">
  <div main-title ng-switch-default ng-switch="historyState.selectActions">

    <ul ng-switch-when="selected" class="nav navbar-navbar navbar-quick-nav navbar-history-edit">
      <li class="navbar-quick-right">
        <a ng-click="toggleEdit()" my-i18n="modal_cancel"></a>
      </li>
      <li class="navbar-quick-left">
        <a ng-click="selectedFlush()" my-i18n="head_clear_all"></a>
      </li>
      <li class="navbar-quick-title" my-i18n="head_select"></li>
    </ul>


    <div ng-switch="historyPeer.id > 0" ng-switch-default>

      <!-- single user back -->
      <a ng-switch-when="true" href="#/im" class="navbar-quick-profile-back">
        <iron-icon icon="chevron-left"></iron-icon>
        <div class="navbar-quick-back-title">
          <h4 my-peer-link="historyPeer.id" peer-watch="true"></h4>
          <small ng-switch="historyState.typing.length">
            <span ng-switch-when="1" class="status_online">
              <my-i18n msgid="head_typing"></my-i18n><span my-loading-dots></span>
            </span>
            <span ng-switch-default my-user-status="historyPeer.id" for-dialog="true"></span>
          </small>
        </div>
      </a>

      <!-- group back -->
      <li ng-switch-default>
        <a href="#/im" class="navbar-quick-group-back">
          <i class="icon icon-back"></i>
          <div class="navbar-quick-back-title">
            <h4 my-peer-link="historyPeer.id" peer-watch="true" for-dialog="true"></h4>
            <small ng-switch="historyState.typing.length">
              <span ng-switch-when="0" class="tg_head_peer_status" my-chat-status="-historyPeer.id"></span>
              <my-i18n>
                <span ng-switch-when="1" class="status_online" my-i18n-format="head_one_typing"></span>
                <span ng-switch-when="2" class="status_online" my-i18n-format="head_two_typing"></span>
                <span ng-switch-default class="status_online" my-i18n-format="head_many_typing"></span>
                <my-i18n-param name="name1"><span my-peer-link="historyState.typing[0]" short="true"></span></my-i18n-param>
                <my-i18n-param name="name2"><span my-peer-link="historyState.typing[1]" short="true"></span></my-i18n-param>
                <my-i18n-param name="names" ng-bind="historyState.typing.length - 1"></my-i18n-param>
                <my-i18n-param name="dots"><span my-loading-dots></span></my-i18n-param>
              </my-i18n>
            </small>
          </div>
        </a>
      </li>
    </div>
  </div>

  <a class="navbar-peer-wrap" my-peer-photolink="historyPeer.id" peer-watch="true"></a>

  <ul ng-switch-when="true" class="nav navbar-nav navbar-quick-nav">
    <li>
      <a ng-click="toggleMedia()" class="navbar-quick-media-back">
        <i class="icon icon-back"></i>
        <div class="navbar-quick-back-title" ng-switch="historyFilter.mediaType">
          <h4 ng-switch-when="photos" my-i18n="im_media_photos"></h4>
          <h4 ng-switch-when="video" my-i18n="im_media_video"></h4>
          <h4 ng-switch-when="documents" my-i18n="im_media_documents"></h4>
          <h4 ng-switch-when="audio" my-i18n="im_media_audio"></h4>
          <h4 ng-switch-when="round" my-i18n="im_media_round"></h4>
          <h4 ng-switch-when="music" my-i18n="im_media_music"></h4>
          <h4 ng-switch-when="urls" my-i18n="im_media_links"></h4>
          <h4 ng-switch-when="mentions" my-i18n="im_media_mentions"></h4>
        </div>
      </a>
    </li>
  </ul>
</app-toolbar>
