<div class="im_message_document im_message_upload_file" ng-class="::'im_message_upload_' + media.type">
  <div class="im_message_file_button im_message_file_button_upload">
    <i class="im_message_file_button_icon"></i>
  </div>
  <div class="im_message_document_info">
    <div class="im_message_document_name_wrap">
      <span class="im_message_document_name" ng-attr-data-name="{{media_file_name_without_ext}}" ng-attr-data-ext="{{media_file_ext}}"></span>
      <span class="im_message_document_size" ng-if="media.progress" ng-bind="media.progress | formatSizeProgress"></span>
    </div>
    <div class="clearfix im_message_cancelable_progress_wrap">
      <a class="im_message_media_progress_cancel pull-right" ng-click="media.progress.cancel()" my-i18n="modal_cancel"></a>
      <div class="im_message_download_progress_wrap">
        <div class="progress tg_down_progress">
          <div class="progress-bar progress-bar-success" role="progressbar" ng-style="{width: media.progress.percent + '%'}"></div>
        </div>
      </div>
    </div>
  </div>
</div>
