<div class="im_message_venue clearfix">

  <a ng-href="{{::venue.mapUrl}}" target="_blank" class="im_message_venue_geopoint_wrap">
    <i class="icon icon-geo-point"></i>
    <img
      class="im_message_venue_geopoint_image"
      my-geo-point-map="venue.geo"
      width="100"
      height="100"
    />
  </a>

  <div class="im_message_venue_info">
    <div class="im_message_venue_title_wrap">
      <a ng-href="{{::venue.mapUrl}}" target="_blank" class="im_message_document_name" ng-bind="::venue.title"></a>
    </div>
    <div class="im_message_venue_address" ng-bind="::venue.address"></div>
  </div>

</div>
