<div class="im_message_video im_message_document_thumbed">
  <a class="im_message_video_thumb" href="" ng-click="videoOpen()" ng-style="::{width: media.video.thumb.width + 'px'}">
    <span class="im_message_video_duration" ng-bind="::media.video.duration | duration"></span>
    <i class="icon icon-videoplay"></i>
    <img
      class="im_message_video_thumb im_message_video_thumb_blurred"
      my-load-thumb
      thumb="media.video.thumb"
    />
  </a>
</div>
<div ng-if="::media.rCaption" class="im_message_video_caption" ng-bind-html="::media.rCaption"></div>