<div class="username_edit_modal_wrap">

  <app-header>
    <app-toolbar>
      <paper-icon-button ng-click="$dismiss()" icon="close"></paper-icon-button>

      <div main-title my-i18n="login_recovery_title"></div>

      <paper-button ng-click="checkCode()" ng-bind="recovery.updating ? 'password_recover_active' : 'password_recover_submit' | i18n" ng-disabled="recovery.updating"></paper-button>
    </app-toolbar>
  </app-header>

  <div class="modal-body">

    <form class="modal_simple_form" ng-submit="checkCode()">

      <div class="md_simple_form_description" my-i18n="login_recovery_description_md">
        <my-i18n-param name="email">
          <strong ng-bind="recovery.email_pattern"></strong>
        </my-i18n-param>
      </div>

      <div class="md-input-group" ng-class="{'md-input-error': recovery.error_field == 'code'}" my-labeled-input ng-switch="recovery.error_field == 'code'">
        <label ng-switch-when="true" class="md-input-label" my-i18n="login_code_incorrect"></label>
        <label ng-switch-default class="md-input-label" my-i18n="login_code_placeholder"></label>
        <input class="md-input" my-focused type="text" ng-model="recovery.code" name="code" my-focused />
      </div>

    </form>

  </div>

</div>
