<div class="profile_edit_modal_wrap">

  <app-header>
    <app-toolbar>
      <paper-icon-button ng-click="$dismiss()" icon="arrow-back"></paper-icon-button>

      <div main-title my-i18n="profile_edit_modal_title"></div>

      <paper-button ng-class="{disabled: profile.updating}" ng-click="updateProfile()" ng-bind="profile.updating ? 'profile_edit_submit_active' : 'profile_edit_submit' | i18n" ng-disabled="profile.updating"></paper-button>
    </app-toolbar>
  </app-header>

  <div class="modal-body">

    <form class="modal_simple_form" ng-submit="updateProfile()" my-vertical-position="0.3">

      <div class="form-group" ng-class="{'has-error': error.field == 'first_name'}">
        <input class="form-control input-lg" my-focused type="text" placeholder="{{'profile_edit_first_name' | i18n}}" ng-model="profile.first_name"  name="first_name"/>
      </div>
      <div class="form-group" ng-class="{'has-error': error.field == 'last_name'}">
        <input class="form-control input-lg" type="text" placeholder="{{'profile_edit_last_name' | i18n}}" ng-model="profile.last_name"/>
      </div>

    </form>

  </div>

</div>
