<div class="stickerset_modal_wrap">

  <div class="tg_page_head tg_modal_head">
    <div class="navbar navbar-static-top navbar-inverse">
      <div class="container">

        <div class="navbar-header">

          <ul class="nav navbar-nav navbar-quick-nav">
            <li class="navbar-quick-right" ng-if="stickersetLoaded" ng-switch="stickersetInstalled">
              <a ng-switch-when="true" my-i18n="stickerset_modal_uninstall" ng-click="toggleInstalled(false)"></a>
              <a ng-switch-when="false" my-i18n="stickerset_modal_install" ng-click="toggleInstalled(true)"></a>
            </li>
            <li>
              <a ng-click="$dismiss()" class="navbar-quick-media-back">
                <i class="icon icon-back"></i>
                <div class="navbar-quick-back-title">
                  <h4 ng-switch="!stickersetLoaded">
                    <span ng-switch-when="true" my-i18n="stickerset_modal_title_loading"></span>
                    <span ng-switch-default ng-bind="stickerset.title"></span>
                  </h4>
                </div>
              </a>
            </li>
          </ul>

        </div>

      </div>
    </div>
  </div>

  <div class="modal-body">

    <div my-stickers-list class="stickerset_modal_col">

      <div class="stickerset_wrap nano" my-infinite-scroller>
        <div class="stickerset_scrollable_wrap nano-content" ng-switch="!stickersetLoaded">

          <div ng-switch-when="true" class="stickerset_modal_loading" my-vertical-position="0.2" padding="true" my-i18n="stickerset_modal_loading">
            <my-i18n-param name="dots">
              <span my-loading-dots></span>
            </my-i18n-param>
          </div>

          <div ng-switch-default class="stickerset_modal_stickers_list clearfix">
            <div class="stickerset_modal_sticker_wrap" ng-repeat="sticker in documents | limitTo: slice.limit">
              <div class="stickerset_modal_sticker" my-load-sticker document="sticker" thumb="true"></div>
              <div class="stickerset_modal_sticker_alt" ng-bind-html="sticker.stickerEmoji"></div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

</div>