<div class="username_edit_modal_wrap">

  <div class="tg_page_head tg_modal_head">
    <div class="navbar navbar-static-top navbar-inverse">
      <div class="container">

        <div class="navbar-header">

          <ul class="nav navbar-nav navbar-quick-nav">
            <li class="navbar-quick-right">
              <a ng-class="{disabled: profile.updating}" ng-click="updateUsername()" ng-bind="profile.updating ? 'username_edit_submit_active' : 'username_edit_submit' | i18n" ng-disabled="profile.updating"></a>
            </li>
            <li>
              <a ng-click="$dismiss()" class="navbar-quick-media-back">
                <i class="icon icon-back"></i>
                <div class="navbar-quick-back-title">
                  <h4 my-i18n="username_edit_modal_title"></h4>
                </div>
              </a>
            </li>
          </ul>

        </div>

      </div>
    </div>
  </div>

  <div class="modal-body">

    <form class="modal_simple_form" ng-submit="updateUsername()" my-vertical-position="0.3">

      <div class="form-group import_modal_field_wrap" ng-class="{'has-error': checked.error, 'has-feedback': checked.feedback.length > 0}">
        <input class="form-control input-md" my-focused type="text" placeholder="{{'username_edit_placeholder' | i18n}}" ng-model="profile.username"  name="username" ng-model-options="{updateOn: 'default blur', debounce: {default: 600, blur: 0}}"/>
        <span ng-if="checked.error" class="glyphicon form-control-feedback" ng-class="{'glyphicon-remove': checked.error}"></span>
      </div>

      <div class="modal_simple_form_description" my-i18n="username_edit_description_md"></div>

    </form>

  </div>

</div>